[2018-09-27 16:33] dannyk81 opened #2 "VLAN and SelfIP resources Read method doesn't refresh all the attributes"
Woot woot! first issue 😄

We've discovered yesterday that VLAN and SelfIP resource are not refreshing all the attributes in their respective Read methods, as well as few other minor things that are missing.

I've prepared a PR for that in the old repo (https://github.com/f5devcentral/terraform-provider-bigip/pull/126), I'll resubmit the PR here shortly.

Very excited to have this provider in the o

[2018-09-27 19:42] dannyk81 opened #4 "Error checking is not needed on primitive types"
Throughout the code there are many `Read` method implementation that perform error checking on primitive types (TypeBool, TypeInt, TypeFloat, TypeString).

However this is not needed, since only Aggregate types require Error checking.

Example where this is not needed:
https://github.com/terraform-providers/terraform-provider-bigip/blob/0ce45fa06c32a7a173a91bc436ff92345dc6c363/bigip/resource_bigip

[2018-09-27 19:43] dannyk81 opened #5 "Error handling and log messages is not unified/aligned"
I've been going over our error handling practices and some of the log messages and I think we need to have some alignment, especially with Terraform's best practices:

1) Error checking should be done on aggregate types only (schema.TypeList, schema.TypeSet, and schema.TypeMap)
reference: https://www.terraform.io/docs/extend/best-practices/detecting-drift.html#error-checking-aggregate-types

2) In

[2018-09-27 20:24] dannyk81 opened #6 "Tests failing for persistence_profile_cookie, persistence_profile_dstaddr & persistence_profile_srcaddr"
Tests for the following resources are failing on BigIP 12.1.1 due to this commit --> https://github.com/terraform-providers/terraform-provider-bigip/commit/344b1fe5d026bb3102d81b8405a4804112287f1e

- `bigip_ltm_persistence_profile_cookie`
- `bigip_ltm_persistence_profile_srcaddr`
- `bigip_ltm_persistence_profile_dstaddr`

[code]

[2018-09-27 22:00] #2 closed

[2018-10-01 20:56] dannyk81 opened #7 "Exists functions are modifying the Resource Data when they shouldn't"
I've noticed that in several places where the `Exists` method is implemented, it is modifying the resource data under certain conditions (e.g. when the resource is not found).

Examples:

https://github.com/terraform-providers/terraform-provider-bigip/blob/3736641c61a3b5969a988fe1aabdf73dbb6a58a8/bigip/resource_bigip_ltm_monitor.go#L201-L205

https://github.com/terraform-providers/terraform-provid

[2018-10-08 03:43] arjuntony opened #8 "F5 ASM"
Kindly let us know which field we have to edit in policywaf.json file in order to create new ASM Policy for the existing VIP.

[2018-10-08 17:29] scshitole commented on #8
@arjuntony  with the resource you can only attach the already created ASM policy to the virtual server, you cannot create a new ASM policy.

[2018-10-08 17:33] scshitole commented on #8
@arjuntony also you need Application service template on your bigip and bigip version supported is 12.X

[2018-10-08 19:55] thomamas opened #9 "Feature request: support Node.FQDN.Interval"
I would like to create a virtual servers using the vsphere provider, and then create a node and add it to a LTM pool by hostname.

Unfortunately, there is race where the new server's hostname might not be resolvable when I create these objects. When this happens, I need to wait for 3600 seconds until the LTM retries DNS. The suggestion from F5 is to adjust the FQDN Interval field (see https://supp

[2018-10-10 22:52] dannyk81 commented on #9
@thomamas this field is indeed defined in the `Node` struct in go-bigip, however it is not implemented in the `CreateFQDNNode` method.

I think what we can do, is to configure this attribute in the `Update` method and call it from `Create` (instead of calling `Read`), since we pass the `Node` config directly to `ModifyNode` method in `Update`.

@scshitole WDYT?

[2018-10-11 02:54] scshitole commented on #9
@thomamas @dannyk81
We need to add the field in bigip_ltm_node.go  also just  doing  d.Get("interval") won't work as fqdn is struct ?
[code]

[2018-10-11 02:55] #8 closed

[2018-10-11 05:13] scshitole commented on #9
@dannyk81  I mean d.Get for "interval" we need to see how to write,  It wont be straight forward like other fields as its in fqdn struct

[2018-10-11 06:50] scshitole commented on #9
@dannyk81 let me make the changes and test it

[2018-10-12 20:19] scshitole commented on #9
test results
[code]

[2018-10-12 20:47] dannyk81 commented on #9
Thanks Sanjay, it would be great if you pushed these changes to a branch and did a PR so we could review and discuss instead of pushing directly to master...

I left some comments, here's a summary:

1) there's a variable used called `ifaceCount`, what Interface is this referring to? copy-pasta?

2) the Interval now defaults to `3600`, this means it will be set on non-fqdn Nodes as well? is that e

[2018-10-26 08:38] skorfmann opened #16 "Feature Request: Add Pool Priority Group Activation"
We'd like to configure the "Priority Group Activation" on the pool, plus the actual "Priority Group" on the pool members via Terraform.

Is this on the roadmap already, or would you accept PRs?

[2018-10-26 15:03] fcgravalos opened #17 "@scshitole Stop pushing to master"
@scshitole That's not the proper way to provide a stable release. It doesn't make any sense and looks very unprofessional. As an example:

https://github.com/terraform-providers/terraform-provider-bigip/commit/d8db2599dc8ad437026a71d65ab6adaa00ef430a

I'd encourage you to create feature branches that you merge into an development/integration branch when a PR is approved.
I'd be desirable too to fr

[2018-10-26 19:31] scshitole commented on #17
@fcgravalos agreed this was exception as customer wanted the fix, but now connivence them to use pool attachment resource, hence forth will have commits in dev branch and PR after that.

[2018-10-26 19:31] #17 closed

[2018-10-26 19:34] scshitole commented on #9
@thomamas  closed this issue with https://github.com/terraform-providers/terraform-provider-bigip/pull/15

[2018-10-26 19:34] #9 closed

[2018-10-26 19:36] scshitole commented on #16
@skorfmann thanks  we do accept PR as well

[2018-10-26 19:39] fcgravalos commented on #17
@scshitole I understand your rush, but you opened the provider to an opensource community so there's no single customer. This is not your customer's product, this is an opensource project. If a customer require specific customizations that are not aligned with the project, I'd recommend you to fork the repo.

[2018-10-26 19:47] dannyk81 commented on #17
Thank you @scshitole!

Just bear in mind that specific customer/user need cannot dictate direct changes like that to a community driven project, changes here impact a wide range of users and should be properly reviewed and tested.

Any one user that wants something changed can file a change request (issue) and/or submit a PR, if that change is accepted - great, if not - he may always fork the proj

[2018-11-02 00:02] antoniotamer opened #18 "Provider fails to create a node"
I am trying to upgrade our terraform-provider-bigip from 0.3b to 0.12.0. I'm using:

[code]

The bigip version I'm running against has this version: `BIG-IP 11.6.3 Build 0.0.3 Final`,  which I understand is not the official version that you've tested with.

I have the following code in a module (I tried to simplify from the real code a bit). Also note that I tried with the interval field being `"5

[2018-11-02 00:49] scshitole commented on #18
@antoniotamer Not sure if this is specific to v11, I tested with v12.1 don't see any issue
resource "bigip_ltm_monitor" "monitor" {
        name = "/Common/terraform_monitor"
        parent = "/Common/http"
        send = "GET /some/path\r\n"
        timeout = "999"
        interval = 5
}

resource "bigip_ltm_pool"  "pool" {
        name = "/Common/terraform-pool"
        load_balancing_mode = "ro

[2018-11-02 00:51] scshitole commented on #18
@antoniotamer  can you please add depends on as well

resource "bigip_ltm_pool_attachment" "attach_node2" {
        pool = "/Common/terraform-pool"
        node = "/Common/11.1.1.102:80"
        depends_on = ["bigip_ltm_pool.pool"]

}

[2018-11-02 01:48] antoniotamer commented on #18
Sorry to bother you with this, but if you have access to a 11 f5, would you be able to try and reproduce? I'd be eternally grateful. @scshitole

[2018-11-02 01:50] antoniotamer commented on #18
That didn't work, unfortunately

[2018-11-02 01:52] dannyk81 commented on #18
The problem seems to be with the `interval` attribute type casting.

Can you quote the value and try again?

[code]

[2018-11-02 01:55] pryorda commented on #18
@dannyk81 Good to see you on yet another project! He has tried with both according to the OP. I work with him so if there is any additional testing you need lemmeno.

[2018-11-02 01:55] antoniotamer commented on #18
Thanks @dannyk81 and @scshitole for your promptness both. I did suspect exactly that. In fact my initial value was a string and got the same result, then I changed it to an int, and had the same issue. I will delete the monitors and nodes one more time to test, and will edit this response if successful, but I'm pretty sure I already ran through this precise sequence. What I'd like to know if there

[2018-11-02 15:05] dannyk81 commented on #18
Hey @pryorda 😄

@antoniotamer, I'm reviewing your OP again, I guess I missed your comment about trying with both string and int on first read.

Unfortunately, I don't have an F5 running 11.X to try it out but here's what I deduce from your output after reviewing it again:

1) terraform starts creating `node`, `pool` and `monitor` resources

2) `monitor` is created (`module.test_f5_pool.bigip_ltm_m

[2018-11-02 23:51] pryorda commented on #18
We have plans to move off the 11.6 device at some point by migrating directly to the virtual edition. This wont happen for a while.

Something like this: https://play.golang.org/p/IlJJRP3x1w.

Is this something you guys would be open to?

[2018-11-06 18:32] theseao opened #20 "Inconsistent state behavior with pool attachment resource"
Hello
We are observing some inconsistent state behavior with the pool attachment resource.
Pools are successfully built and nodes attached.
However, any subsequent plan/apply with unchanged code results in attempts to re-attach nodes, even though they already exist.
We see similar behavior when attempting to remove a single node.  Apply attempts to rebuild remaining nodes, errors out as they alrea

[2018-11-06 21:50] dannyk81 commented on #20
Can you share your terraform configuration file?

[2018-11-06 21:53] dannyk81 commented on #18
I suppose that's possible, but will require a change in the `go-bigip` package, @scshitole wdyt?

@antoniotamer Could you change the subject of the issue? since this is not a problem with the pool attachment resource but in fact with the node resource.

[2018-11-07 17:39] theseao commented on #20
Thanks @dannyk81
We're using multiple files, but here's a condensed version of relevant code:

[poc_bigip_ltm_tf.txt](https://github.com/terraform-providers/terraform-provider-bigip/files/2558530/poc_bigip_ltm_tf.txt)

[2018-11-07 17:51] theseao commented on #20
Thanks @dannyk81
We're using multiple files, but here's a condensed version of relevant code:

[poc_bigip_ltm_tf.txt](https://github.com/terraform-providers/terraform-provider-bigip/files/2558562/poc_bigip_ltm_tf.txt)

[2018-11-08 17:02] dannyk81 commented on #20
@theseao Thanks for sharing your configuration, I believe the problem is in how the node name is declared in the `pool_attachment` resource, specifically you seem to be missing the partition name definition. The node name must be a `fullPath` and include the partition name.

So your `pool_members_list` and `pool_members_map` should include the nodes `fullPath` names (including the partition name).

[2018-11-08 17:04] scshitole commented on #20
@dannyk81 thanks  let me add that

[2018-11-08 17:10] scshitole commented on #20
@dannyk81  I see we have ```ValidateFunc``` already for resource https://github.com/terraform-providers/terraform-provider-bigip/blob/5f2c641f27f09723bf2e2f1449bc12bb5928ee96/bigip/resource_bigip_ltm_node.go#L29

[2018-11-08 17:22] dannyk81 commented on #20
@scshitole you are on the wrong resource, you are referncing `node` resource, the issue is in the `pool_attachment` resource.

we need a similar ValidateFunc on the `node` attribute in `pool_attachment` resource, here:
https://github.com/terraform-providers/terraform-provider-bigip/blob/5f2c641f27f09723bf2e2f1449bc12bb5928ee96/bigip/resource_bigip_ltm_pool_attachment.go#L29-L34

The Validation Fun

[2018-11-08 17:40] scshitole commented on #20
@dannyk81 I see thanks let me add the same

[2018-11-08 18:41] scshitole commented on #20
@dannyk81  I added however my tests are failing ``` === RUN   TestAccBigipLtmPool_create
--- FAIL: TestAccBigipLtmPool_create (0.01s)
	testing.go:538: Step 0 error: config is invalid: bigip_ltm_pool_attachment.test-pool_test-node: "node" must match /Partition/Name and contain letters, numbers or [._-]. e.g. /Common/my-pool
=== RUN   TestAccBigipLtmPool_import

I do see the test file has

var TEST_

[2018-11-08 18:45] dannyk81 commented on #20
@scshitole can you do a PR so I can review the code and see what's wrong? I can't really debug this from above output.

But, unless I'm wrong - you just took to the validation function from `node` resource as is and that's incorrect, since the `node` definition in the `pool_attachment` also has the port number.

The regex in the validation function needs to accept this following:
`/<partition>/<no

[2018-11-08 18:54] theseao commented on #20
@dannyk81 Thank you, that resolved the issue.  In this particular environment where we are only using the single "common" partition, I simply preprended /common/ to the the node declaration, rather than update the pool member list and map values.
Thank you also for the alternate suggestions.  We have been contemplating/evaluating options to simply for operational sustainability, so that is valuabl

[2018-11-08 19:00] dannyk81 commented on #20
You're welcome @theseao! and thanks for the feedback, we'll include the validation function so that it will be clearer when the configuration is not declared as expected.

[2018-11-08 19:09] #20 closed

[2018-11-13 22:45] luckyinva commented on #18
I'm facing the same unmarshalling error on single node creation with nothing elaborate in my code whatsoever.  I have filed a case as well but want to point out that this is significant since we cannot actually delete the created node without doing so from the gui and it prevents the destroy command from actually running.  Case filed is 11743.
resource "bigip_ltm_node" "node" {
  name = "/Common/I

[2018-11-14 14:16] luckyinva commented on #18
We are currently on BIG-IP 11.6.3 Build 0.0.3 Final

[2018-11-14 14:30] luckyinva commented on #18
Perhaps it would also be good to put the same requirements here.  https://www.terraform.io/docs/providers/bigip/index.html  They show in the Git you linked but not in the provider docs.

[2018-11-14 14:37] dannyk81 commented on #18
@scshitole please update the website to reflect the minimal supported F5 version.

[2018-11-14 17:30] scshitole commented on #18
@luckyinva @dannyk81  let check the unmarshalling, will update the docs as well

[2018-11-15 14:45] vikram-chandrakanth opened #24 "resource to create the profile, with http as the parent profile missing"
resource to create the profile, with http as the parent profile missing in the resource group.

some think like

###################

resource "bigip_ltm_profile_http" {

        name = "/Common/test_http"
            defaults_from = "/Common/httpt"
            concurrent_streams_per_connection = 10
            connection_idle_timeout= 30

}

############################

[2018-11-15 17:16] scshitole commented on #18
@antoniotamer @dannyk81 @pryorda I reproduce the issue on 11.6 image,
[code]

[2018-11-15 21:52] scshitole commented on #24
@vikram-chandrakanth  I dont see the resource exists in https://github.com/terraform-providers/terraform-provider-bigip/blob/master/bigip/provider.go

[2018-11-16 00:42] dannyk81 commented on #24
@scshitole it doesn't, I believe @vikram-chandrakanth is asking you to add it.

[2018-11-16 01:12] dannyk81 commented on #18
@scshitole can you/do you intend to propose a fix for this?

[2018-11-16 05:45] scshitole commented on #18
@dannyk81 not sure how much change it is any suggestion recommendations ?

[2018-11-16 10:11] vikram-chandrakanth commented on #24
@dannyk81, @scshitole, Yes I am asking to add the resource. Please excuse my typo's in earlier comment.

I am looking for resource something like

###################

resource "bigip_ltm_profile_http" {
    name = "/Common/test_http"
        defaults_from = "/Common/http"
        concurrent_streams_per_connection = 10
        connection_idle_timeout= 30

}

############################

[2018-11-23 11:58] vikram-chandrakanth opened #25 "add "content list" For bigip_ltm_profile_httpcompress resource"
Hi,

Currently , we cannot add the content list to the http_compress via the "bigip_ltm_profile_httpcompress" resource

example of adding the following "text/javascript, application/javascript" to the content list

Regards,
Vikram

[2018-11-24 17:36] HaloGithub opened #26 "Crash when running terraform apply."
Hi there, When I running `terraform apply`, it showed `TERRAFORM CRASH`.

Here is my terraform file content:

[code]
And this is `crash.log`:

[crash.log](https://github.com/terraform-providers/terraform-provider-bigip/files/2612455/crash.log)

Please help to check, thanks!

[2018-11-25 09:39] HaloGithub commented on #26
I know why crash, just because `values = [ "" ]`, and I wonder how to check HTTP-Header `X-Forwarded-For` is empty. Currently I occur another error after change `values` to:

[code]

[code]

[2018-11-26 17:20] scshitole commented on #18
@pryorda @dannyk81  what do you think about this approach for ltm.go
[code]

[2018-11-30 14:16] pryorda commented on #18
lgtm, but i'm not a go expert.

[2018-12-05 02:39] dannyk81 commented on #18
@scshitole sorry for the delay, just got back from vacation.

Could you do a PR for your proposal? or at least post a diff? it would be easier to review and test the change you suggest, since I'm not quite sure what is the change that you are proposing here.

[2018-12-06 16:38] the-player777 opened #28 "stuck on "Acquiring state lock""
Hello,

I try to do a "terraform plan" on our F5 (basically I'm just trying to create a node), but terraform is stuck on "Acquiring state lock". No additionnal logs are provided even if I set TF_LOG to TRACE:

`$ sudo TF_LOG=TRACE CHECKPOINT_DISABLE=1 terraform plan

2018/12/06 17:34:59 [INFO] Terraform version: 0.11.9  4e44b41c8bc1b533d14f9939690adf09e3d2a2be

2018/12/06 17:34:59 [INFO] Go runtim

[2018-12-06 16:57] dannyk81 commented on #28
`Acquiring state lock` is a pure Terraform operation where the relevant mechanism is invoked to lock the state, either local or remote (i.e. `s3`)

Are things working when removing the bigip definitions from your terraform configuration?

Have you tried strace`ing the terraform process when it's stuck to see what kind of syscalls it's doing?

[2018-12-06 16:58] dannyk81 commented on #18
@scshitole ?

[2019-01-02 19:17] pkustner opened #30 "bigip_ltm_policy resource seems broken"
can also reference https://github.com/f5devcentral/terraform-provider-bigip/issues/112

Using a very slightly modified version of the example code for the provider I get the following error when I try to apply.
`bigip_ltm_policy.test-policy: 0107186c:3: Policy '/Common/Drafts/my_policy', rule 'rule6'; missing or invalid target.`

Here's the terraform Policy I'm trying with.
[code]

[2019-01-04 01:06] scshitole commented on #28
@the-player777 @dannyk81  should I close this if this is not related to provider ?

[2019-01-04 19:58] pkustner opened #35 "bigip_ltm_snat missing functionality"
within web interface, there is the ability to not only enable/disable snat on ALL VLANS, but to specify which VLAN/Tunnel.
I have a very old outbound rule that I'm trying to replicate.
My original rule looks like this inside of an scf file.

But the closest I can get in this provider is

Any chance on the additional functionality?

[2019-01-04 20:36] scshitole commented on #25
@vikram-chandrakanth added content include - exclude field #36

[2019-01-04 20:36] #25 closed

[2019-01-04 22:45] scshitole commented on #35
@pkustner this is what i am getting if i excute
[code]

are which field you need from
![image](https://user-images.githubusercontent.com/13858248/50714835-39c17d80-102f-11e9-8459-104bad405016.png)
![image](https://user-images.githubusercontent.com/13858248/50714854-4a71f380-102f-11e9-8482-c46d0549c1c6.png)

[2019-01-04 22:47] scshitole commented on #35
@pkustner so basically you are asking to add vlan list ?

[2019-01-05 15:21] pkustner commented on #35
yes

On Fri, Jan 4, 2019, 2:47 PM Sanjay shitole <notifications@github.com wrote:

[2019-01-08 08:58] dpeachey opened #43 "Default values for optional attributes being ignored"
Hi,

I just started testing the F5 BIG-IP Terraform provider and I have quickly run into what appears to be an issue, unless I am misinterpreting the behaviour.

I have used the following Terraform config to deploy a TCP profile:

    resource "bigip_ltm_profile_tcp" "PFL_DP_EVAL_TCP" {
      name                  = "/Common/PFL_DP_EVAL_TCP"
      defaults_from         = "/Common/tcp-lan-optimized

[2019-01-08 13:52] dannyk81 commented on #43
Hi Dan,

This is an issue I'm afraid, I have similar trouble with monitor resource. It seems that the state of the profile resource is not being correctly recorded for all configurable attributes when it's first created so subsequent applies triggers changes.

/cc @schitole

[2019-01-09 19:53] scshitole commented on #35
@pkustner  fix is in
[code]

[2019-01-09 22:20] #35 closed

[2019-01-10 08:37] ghost opened #45 "Unable to set a custom parent for a monitor"
Hi,

Seems I am unable to set a custom parent for a monitor. I get the following error:

    bigip_ltm_monitor.MON_HTTP_DP_EVAL_CHILD: parent must be one of /Common/http, /Common/https, /Common/icmp, /Common/gateway-icmp, /Common/tcp-half-open,  or /Common/tcp

Can this restriction be relaxed?

Regards,

Dan

[2019-01-10 08:44] dpeachey commented on #43
I also tested with the monitor resource and the fastl4 profile resource and experience the same issue.

[2019-01-10 09:10] dpeachey opened #46 "Unable to set Alias Service Port on HTTPS monitor"
Hi,

With the following monitor resource configuration:

    resource "bigip_ltm_monitor" "MON_HTTPS_DP_EVAL_CHILD" {
      name              = "/Common/MON_HTTPS_DP_EVAL_CHILD"
      parent            = "/Common/https"
      interval          = 5
      time_until_up     = 0
      timeout           = 16
      send              = "GET /\r\n"
      destination       = "*:8008"
    }

...I get the fo

[2019-01-14 16:49] scshitole commented on #43
@dpeachey @dannyk81  thanks let me look at that.

[2019-01-14 20:35] scshitole commented on #46
@dpeachey tested your configuration after the fix
[code]

[2019-01-15 16:30] dpeachey commented on #46
Thanks @scshitole it's working now

[2019-01-16 15:48] Midacts opened #49 "Docs not updated?"
I've only checked [this doc](https://www.terraform.io/docs/providers/bigip/r/bigip_ltm_node.html), but it seems to not fully contain all the available settings as shown [here](https://github.com/terraform-providers/terraform-provider-bigip/blob/master/website/docs/r/bigip_ltm_node.html.markdown).

[2019-01-16 22:33] scshitole commented on #18
@fprimex  sorry this is specific to bigip release 11.X, so is lower priority.  Is it possible for you guys to upgrade bigip to release 12.X ?

[2019-01-22 16:10] dpeachey commented on #43
Hi @scshitole, did you have a chance to look at this one?

Thanks.

[2019-01-22 17:30] scshitole commented on #49
@Midacts closing this as I have updated the docs

[2019-01-22 17:30] #49 closed

[2019-01-22 17:33] scshitole commented on #43
@dpeachey will look today

[2019-01-22 18:55] scshitole commented on #43
Just fixed it and tested the fix
[code]

[2019-01-23 18:57] dpeachey commented on #43
great, thank you. I will test.

[2019-01-23 22:21] scshitole commented on #18
looking at the node resource the fqdn part in the resource does not make sense, we need to change that part, actually this is how fqdn after confoguration looks like
[code]

[2019-01-24 09:52] dpeachey commented on #43
Hi @scshitole , I see a couple of issues still.

With the oneconnect profile, the default values seem to be wrong. I get:

    * bigip_ltm_profile_oneconnect.PFL_DP_EVAL_PARENT_ONECONNECT: Error create profile oneConnect (/Common/PFL_DP_EVAL_PARENT_ONECONNECT): "max-age":"-1" integer value is out of range

Also with the fastl4, some of the default values are incorrect:

      ~ bigip_ltm_profile_f

[2019-01-24 15:37] scshitole commented on #43
@dpeachey I dont see this issue ?
[code]

[2019-01-25 09:30] dpeachey commented on #43
@scshitole in the resource_bigip_ltm_profile_fastl4.go file I see the following which I think is causing the issue:

[code]

Thanks,

Dan

[2019-01-25 21:22] scshitole commented on #18
@dannyk81 I was working on this one some how its not working

[code]

[2019-01-25 23:41] scshitole commented on #43
@dpeachey what is the bigip image you are using ? I am using 12.X  release and my TF file is below, I don't see the issue ?
[code]

[2019-01-27 13:17] dannyk81 commented on #43
@scshitole, I'm not sure your recent fixes are correct.

The resource needs to read all the attributes values from F5 after Create and update their values in state.

the Defaults are just a way to specify some values when creating a resource, so that the user won't have to specify them, however since they are optional these defaults are not really needed.

Also, defaults change from version to ver

[2019-01-28 22:44] scshitole commented on #43
@dannyk81 let me check

[2019-01-28 22:50] scshitole commented on #43
@dpeachey I removed the configs and tried same results, can you please share the .tf file config ?
[code]

[2019-01-30 21:16] scshitole commented on #43
@dpeachey  may be you  are using the 0.12 binary, in that case you are not using the fix, can you send me ``` terraform init ``` . output it should not say 0.12 tag

[2019-01-31 09:03] dpeachey commented on #43
@scshitole I've rebuilt from the latest master branch and still have the same issue. My config looks like this:

    resource "bigip_ltm_profile_fastl4" "PFL_DP_EVAL_PARENT_FASTL4" {
      name                      = "/Common/PFL_DP_EVAL_PARENT_FASTL4"
      defaults_from             = "/Common/fastL4"
      partition                 = "Common"

And I get the following when I re-apply:

    An exe

[2019-02-04 17:51] theseao opened #53 "Feature Request: Add capability to tolerate existing node"
Hello

Is it possible to add capability to the bigip_ltm_node resource to not error out (ignore) when encountering an existing node?

Thanks

[2019-02-04 21:24] dannyk81 commented on #53
The general behavior in Terraform is that existing resource (created outside of Terraform) should be imported into the state, the error here is actually coming from F5 itself as the same resource you try to provision via Terraform already exists.

If you use `terraform import`, you can add that node to your state and terraform won't try to provision it again.

[2019-02-04 22:49] dannyk81 commented on #53
It would be easier to understand if you can share your terraform
configuration for the relevant bigip resources.

in general, this shouldn't happen - the nodes resource should be created
once and later referenced in all the relevant pools (virtual servers don't
reference nodes by the way)

On Mon, 4 Feb 2019 at 17:28, theseao <notifications@github.com> wrote:

[2019-02-04 23:31] appilon opened #54 "[PROPOSAL] Switch to Go Modules"
As part of the preparation for Terraform v0.12, we would like to migrate all providers to use [Go Modules](https://github.com/golang/go/wiki/Modules). We plan to continue checking dependencies into vendor/ to remain compatible with existing tooling/CI for a period of time, however go modules will be used for management. Go Modules is the official solution for the go programming language, we unders

[2019-02-08 00:27] josephjonko opened #55 "X-F5-Auth-Token expired. Requesting that a property be added to the provider that can specify a token timeout value."
Resources that are provisioning prior to the use for BigIp resources takes longer than 20Minutes and by then the F5 token has already expired.

Error: Error applying plan:

2 error(s) occurred:

* module.web-farm.bigip_ltm_node.app_nodes[1]: 1 error(s) occurred:

* bigip_ltm_node.app_nodes.1: X-F5-Auth-Token has expired.
* module.web-farm.bigip_ltm_node.app_nodes[0]: 1 error(s) occurred:

* bigip_

[2019-02-13 13:12] lynxx131 opened #58 "Ability to provision FTP virtual servers and monitors"
Are there any plans to add the ability to provision FTP virtual servers and monitors?

[2019-02-13 15:20] #58 closed

[2019-02-13 15:21] lynxx131 commented on #58
Closing as my query should be addressed in #45.

[2019-02-13 15:25] lynxx131 opened #59 "Creating FTP monitors"
Are there any plans to allow FTP monitors to be created through the provider?

Similar question to #45 but probably needs a bit more work since the current monitor resource is geared towards monitors that work in a send / receive string basis.

[2019-02-13 21:57] scshitole commented on #45
@dpeachey can you please give the example TF so I can test and fix it?

[2019-02-14 21:57] scshitole commented on #45
@dpeachey  it is tied to the API you cannot have custom parent only these are possible
![image](https://user-images.githubusercontent.com/13858248/52820282-6d48ec00-3060-11e9-89f2-93a1cd7c3cbd.png)
![image](https://user-images.githubusercontent.com/13858248/52820302-7b970800-3060-11e9-9cec-dd3359185724.png)

[2019-02-15 20:56] scshitole commented on #59
@lynxx131  this is fixed
[code]

[2019-02-18 12:19] lynxx131 commented on #59
Thanks I'll get it checked out and give it a try.

[2019-02-21 15:25] foreverblue62 opened #63 "Feature Request: Add ability to create a datagroup"
We use datagroups extensively for matchclass checks on IP address and URI redirections within iRule.

These datagroups are more dynamic and would benefit from being managed via Terraform.

[2019-02-21 16:55] dannyk81 commented on #63
This is already implemented and documented here: https://github.com/terraform-providers/terraform-provider-bigip/blob/master/website/docs/r/bigip_ltm_datagroup.html.markdown

I'm not sure why this isn't showing up on the official docs.

@scshitole could you check why the `datagroup` resource is missing in the documentation website?

[2019-02-21 18:42] scshitole commented on #63
@dannyk81 @foreverblue62 looks like it is missed in the docs will add it.

[2019-02-26 04:06] dresken opened #65 "Feature Request: GTM/Wide IP DNS support"
I know the front page states "A Terraform provider for F5 BigIP LTM." and the Doco website says "Resources are currently available for LTM." - however is the plan to eventually include GTM with this provider as well?

[2019-02-26 09:26] foreverblue62 opened #66 "Determine which is active in HA pair"
One of the challenges we face for any automation is that we run our F5s as an active passive pair it would be good if there was a way using a data resource to capture the active passive - its available through

curl -s -k -u user:passwd https://F5-name/mgmt/tm/shared/bigip-failover-state

returns:

{"isEnabled":true,"pollCyclePeriodMillis":3600000,"nextPollTime":"2019-02-26T09:57:08.067+0000","net

[2019-02-26 12:53] dannyk81 commented on #66
we have a similar configuration, but configuration changes can be apllied on either the active or passive node since they sync each other, it's what we do and we don't have any issue with that.

What is your concern?

[2019-02-26 13:07] foreverblue62 commented on #66
We don't run our F5's in production with automatic sync, instead we trigger a sync once all the changes are applied.

[2019-02-26 13:21] dannyk81 commented on #66
I see, well... even if you had this data source I don't think you can use that, since terraform provider configuration section doesn't support interpolation.

how did you want to take advantage of this?

[2019-03-07 18:12] #59 closed

[2019-03-07 18:14] scshitole commented on #63
added and updated docs at https://www.terraform.io/docs/providers/bigip/r/bigip_ltm_datagroup.html

[2019-03-07 18:14] #63 closed

[2019-03-11 11:34] lynxx131 opened #67 "Unable to pass username and password to monitor"
Would it be possible to add the username and password arguments to the ltm_monitor resource?

[2019-03-13 17:18] scshitole commented on #67
@lynxx131 will add it

[2019-03-15 16:25] #54 closed

[2019-03-15 17:38] #67 closed

[2019-03-19 01:15] #28 closed

[2019-03-26 15:21] kylegentle commented on #43
Hi @scshitole,

I'm not a user of terraform-provider-bigip, but I came across this issue while looking for a fix to this same bug in a Terraform provider I'm developing.

In my case, I was able to solve the issue by adding `Computed: true,` to the Optional attributes that were causing problems. This seems necessary when an optional attribute may be computed by the API at creation time. It's possib

[2019-03-26 18:13] scshitole commented on #24
@vikram-chandrakanth built the resource example below
[code]

[2019-03-26 22:58] #24 closed

[2019-04-04 22:50] pescetto opened #75 "Feature Request: AS3 Resource"
Instead of shelling out via curl, it'd be nice if there was an actual resource for AS3 that can just accept a JSON template file like the `bigip_sys_iapp` resource does:
https://www.terraform.io/docs/providers/bigip/r/bigip_sys_iapp.html

But either have it accept raw json string or the template file and variables and it can build the json.

[2019-04-04 22:51] pescetto opened #76 "Feature Request: Resource for creating partitions"
It'd be nice to be able to create a partition via a resource.

[2019-04-15 08:42] marianne-butaye opened #79 "Bug on 'Read FastHTTP profile'"
Whenever I create a resource **bigip_ltm_profile_fasthttp**, it is correctly created on the F5 device, but the values in `terraform show` are incorrect, thus the the command `terraform plan` also always tries to update the resource.

Here is my test configuration:
[code]

The creation goes smoothly and here is the result returned:
[code]

But, the command `terraform show` returns this:
[code]
The

[2019-04-15 09:10] marianne-butaye opened #80 "Bug: 'Update TCP profile' destroys the Terraform state of the resource"
I found a bug that happens on `terraform plan` whenever I updated the resource **bigip_ltm_profile_tcp** just before.

I create my resource with the following configuration:
[code]

The command `terraform show` shows the following:
[code]

If I do a `terraform plan`, it shows that there is nothing to be changed.
I I update a value with a `terraform apply`:
[code]

And then, if I do a `terraform pl

[2019-04-15 09:17] marianne-butaye opened #81 "Bug: partition is never set on 'Create TCP profile'"
The partition attribute of the resource **bigip_ltm_profile_tcp** is never set or is not set in Terraform state.

I work with the following example:
[code]

If I do a `terraform plan` or `terraform apply`, the resource shows this (which is normal, it knows which partition to create the resource on):
[code]

But if I do a `terraform plan` just after without changing any variable, I get this:
[code]

[2019-04-17 16:46] DavidGamba opened #82 "recreating a node doesn't recreate the pool attachment that depends on it"
Starting from a basic pool:

[code]

Then change the IP of the node or change from IP to DNS entry:

[code]

Only the node is changing, the node attachment is not affected in the plan. Then apply:

[code]

Trying to add `depends_on` on the pool attachment didn't work.
Changes on the node that require a destroy/create should taint the pool attachment.

[2019-04-17 17:03] dannyk81 commented on #82
@DavidGamba I see you mentioned you tried to add `depends_on` to `bigip_ltm_pool_attachment` but you didn't share what you tried.

Since this is an intermediary resource (representing a relationship between two other resources) you should define the dependency (using `depends_on` attribute) between the related resources.

Can you try the below:
[code]

[2019-04-17 17:48] DavidGamba commented on #82
Thanks for the quick reply. IMHO the dependency should be implicit.
Even when it is explicit though, I get exactly the same results, only the node is marked for rebuild on the plan and the apply fails:

[code]

I had only tried with `depends_on = ["bigip_ltm_node.dgamba-test-node-1"]` before.

[2019-04-17 18:52] dannyk81 commented on #82
Hey @DavidGamba, thanks for the additional details.

The whole dependency management in terraform is rather counter intuitive, indeed the above would not help (we are using a slightly different operational flow so I didn't hit this before).

The dependency tree (whether derived implicitly or defined explicitly) only defines the *order* of the operations, however it doesn't mark the dependant resou

[2019-04-17 19:22] DavidGamba commented on #82
Thanks @dannyk81 for a very detailed explanation of the root cause of the issue. I will use the workaround you provided. Hopefully this issue serves as documentation for other users running into this problem.

[2019-04-17 19:22] #82 closed

[2019-04-17 20:35] DavidGamba opened #83 "Docs: How to import pool_attachment"
I am trying to import a pool attachment. The [code](https://github.com/terraform-providers/terraform-provider-bigip/blob/master/bigip/resource_bigip_ltm_pool_attachment.go#L52) seems to indicate `<pool_name>-<node_name>` but I havent been able to get it to work.

Also, applying the plan with the un-imported pool attachment fails (expected).

[code]

I have tried:

[code]

How do you look into the

[2019-04-17 20:58] DavidGamba commented on #83
When I pull the state from a test pool attachment, I can see that it is using `<pool_name>-<node_name>:<port>`

[code]

But importing that way fails...

[2019-04-17 21:08] dannyk81 commented on #83
Yeah, importing for that resource doesn't work I'm afraid.

since it requires a unique method for querying for the membership based on the provided ID.

It shouldn't be too difficult to add, let me try and test something and I'll get back to you.

[2019-04-17 21:41] dannyk81 commented on #83
@DavidGamba give this a try: https://github.com/terraform-providers/terraform-provider-bigip/pull/84

Since the `id` is a pseudo generated string from two attributes, you need to provide the pool and node as a json input for the import command:

[code]

Note that `pool` must be full path (including the partition) and `node` is full path with the port number.

seems to work well for me:
[code]

ter

[2019-04-17 22:05] DavidGamba commented on #83
Awesome! That worked :smile:  :+1:  Thanks so much!

[code]

Any idea when you guys will be releasing  a new version of the plugin? I haven't setup my CI environment to use any custom Terraform plugins :stuck_out_tongue:

It would be great if the docs get updated as well, in particular since this import requires that json format.

[2019-04-17 22:13] #83 closed

[2019-04-17 22:25] DavidGamba opened #85 "Request: Cut a new release"
The last release is from September, it would be great if you can cut a new release so users don't have to get the latest changes by building the plugin themselves.

[2019-04-17 23:28] dannyk81 commented on #83
Glad that worked out for you @DavidGamba! regarding a release, to be honest I'm waiting for one myself 😅 I'm also using a private build for quite a while now...

@scshitole when can we have a 0.12.1 release? there are a lot of changes pending and it's a PITA to keep maintaining a custom build all the time...

[2019-04-17 23:29] dannyk81 commented on #83
regarding docs, I'll submit a separate PR since that needs to go to the website-stable branch

[2019-04-17 23:57] scshitole commented on #85
@DavidGamba @dannyk81 I have requested them for the next release, will update you guys

[2019-04-18 00:41] scshitole commented on #81
@marianne-butaye here is the fix
[code]

[2019-04-18 01:59] scshitole commented on #80
@marianne-butaye fixed this one
[code]

[2019-04-18 12:51] dannyk81 commented on #18
@scshitole looks like I missed this, but looking at https://github.com/terraform-providers/terraform-provider-bigip/commit/4f257d7d0c7fae5f81bcea0b5b3b158f5fa690bd I just see formatting changes.

The relevant fix is probably in the go-bigip library, is it not? or was this already merged there? I don't see any PR over there so not sure what has changed...

Can you submit a PR for go-bigip?

[2019-04-18 12:58] dannyk81 opened #89 "Request: hard fork and cut releases of the go-bigip library"
Although not directly related to this repo, but I can't open an issue in the `go-bigip` repo.

This provider is build on top of https://github.com/f5devcentral/go-bigip, which is a fork of https://github.com/scottdware/go-bigip (which is no longer in active development).

However the fork has seriously diverged over time from the original code.

`go-bigip` doesn't have any releases and it's not po

[2019-04-18 13:05] dannyk81 commented on #43
@scshitole was going over @kylegentle's suggestion above and it makes a lot of sense, we have many attributes that default to various values by the device once the resource is created.

I think hard coding these defaults in the provider is problematic long-term, since defaults may change over time or differ across versions of bigip.

The better approach is to mark these optional fields as `Compute

[2019-04-18 15:42] #80 closed

[2019-04-18 16:07] dannyk81 commented on #89
My statement above is inaccurate, @scottdware's repo is indeed in active development (I was thinking about the alternative provider --> https://github.com/DealerDotCom/terraform-provider-bigip), sorry about that.

To be honest, I don't know why `go-bigip` was forked instead of contributing back to Scott's repo... but the situation now is that this (f5devcentral) fork is diverged way too much and t

[2019-04-18 17:28] scshitole commented on #89
We are anyway going a away from the old model and focusing now on AS3 https://clouddocs.f5.com/products/extensions/f5-appsvcs-extension/latest/userguide/
Declarative model in that you wont need to focus more on go-bigip most of the stuff will be taken care by JSON payload. The SDK will have only one file with single API.

[2019-04-18 17:48] dannyk81 commented on #89
Well.. I don't know what is the roadmap or when all that is going to happen, in the meantime it's rather impossible to work with the `go-bigip` library as-is...

`most of the stuff will be taken care by JSON payload` - can you elaborate? what does that mean? `go-bigip` also generates JSON payloads :smile:

AS3 seems like a holistic CM solution to manage the BigIP, how is that going to fit into ter

[2019-04-18 17:55] swightkin opened #92 "Unable to retrieve route domain to properly display state for virtual server and nodes"
This is my first issue, so I apologize if I've missed something.

For the function resourceBigipLtmNodeRead (within here resource_bigip_ltm_node.go) there is logic to check for the route domain. However the regex used does not properly capture the route domain information so the state file only shows the IP address.

This causes future plans/applies for nodes or virtual servers with route domains

[2019-04-18 18:16] dannyk81 commented on #92
Hi @swightkin!

We are using Route Domainss in all our deployments and the current code works just fine for us (in fact I did a fix around this a while back to make it work properly https://github.com/f5devcentral/terraform-provider-bigip/pull/85), the state indeed only stores the IP address without the Route Domain suffix (%xx) since these suffixes are internal to the F5 and are not expected when

[2019-04-18 18:57] swightkin commented on #92
Here is the configuration of it:

#Create node

resource "bigip_ltm_node" "ptestweb01" {
  name = "/Common/ptestweb01.example.com_172.17.240.182"
  address = "172.17.240.182%20"
  connection_limit = "0"
  dynamic_ratio = "1"
  monitor = "default"
  rate_limit = "disabled"
}

#Create the health monitor.
resource "bigip_ltm_monitor" "healthmon" {
	name = "/Common/test.com"
	parent = "/Common/http"

[2019-04-18 19:00] swightkin commented on #92
Sorry, one note is that I replaced the names to remove specific information. The configuration vs plan may look mismatch due to me mistyping the find/replace items. The plan informatoin is really around the route domains as the names of objects all work as desired.

Thanks!

[2019-04-18 19:10] dannyk81 commented on #92
mmm, ok... so you should remove all the `%20` from your configuration since F5 will add these automatically.

also, your node attribute in the attachment resource looks a bit strange.
[code]

if you want to use "Any service" it should be `:0` (not `:*`) and you should reference the resource name attributes for pool and node so you don't need to declare dependency explicitly, like so:
[code]

[2019-04-18 19:31] scshitole commented on #89
Here are the details what is covered for BIG-IP on boarding https://clouddocs.f5.com/products/extensions/f5-declarative-onboarding/latest/

[2019-04-18 19:35] swightkin commented on #92
We use our F5 and route domains to split DMZ workloads vs internal workloads. How would the F5 know what RD to use if we have RD 10 and 20? I will setup my lab to test this out as well to see how it behaves since our production environment is the only place we use route domains at this point.

You're correct on the attach part. That was a copy paste error on my part. I forgot to pull latest before

[2019-04-18 19:36] scshitole commented on #89
Also AS3 is independent of BIG-IP releases you just need to upload the rpm which handles all the json payload the number of terraform resources required will go down drastically, here is the FAQ link https://clouddocs.f5.com/products/extensions/f5-appsvcs-extension/latest/userguide/faq.html

[2019-04-18 19:39] dannyk81 commented on #92
Assuming that you have separate partitions for the workloads, each partition should be assigned a default Route Domain and it is used by F5 on the relevant resources based on the partition is is being assigned to.

[2019-04-18 19:47] dannyk81 commented on #89
Alright, that's all interesting but still doesn't really explain how this is going to work with Terraform.

I understand I can use AS3 to manage BigIP configuration, but the motivation here is slightly different: Terraform is used as a (declarative) framework to define the overall infrastructure state (not just F5) and allow the different related logical components to be declared across multiple s

[2019-04-18 20:02] swightkin commented on #92
They are all tied to the same partition "Common".If that's the case is there an option to pull the RD when you read the address?Sent via the Samsung Galaxy S8, an AT&T 5G Evolution capable smartphone
-------- Original message --------From: Danny Kulchinsky <notifications@github.com> Date: 4/18/19  2:39 PM  (GMT-06:00) To: terraform-providers/terraform-provider-bigip <terraform-provider-bigip@norep

[2019-04-18 20:17] dannyk81 commented on #92
Unfortunately, I don't see how that would be possible with the current code.

[2019-04-18 20:21] dannyk81 commented on #92
I suppose it would be possible to add a new resource attribute (route domain) and store it there, but that would require some testing.

[2019-04-18 21:01] swightkin commented on #92
Our current implementation uses the route domains but we're migrating away from it at this point. I think it may be a good idea to account for this in the future though. Not sure how this is added as a feature request?

Again, I greatly appreciate your help on this!

[2019-04-18 21:08] dannyk81 commented on #92
RD are supported when there's one RD per partition, assigning multiple RDs in the same partition is not supported.

I added the above since we needed this for our use case, I think your use case should indeed be supported but I currently don't have any free cycles to work on this.

Maybe @scshitole can take a look.

[2019-04-18 21:09] dannyk81 commented on #92
RD are supported when there's one RD per partition, assigning multiple RDs in the same partition is not supported.

I added the above since we needed this for our use case, I think your use case should indeed be supported but I currently don't have any free cycles to work on this.

Maybe @scshitole can take a look.

[2019-04-18 22:25] swightkin commented on #92
Thank you!Sent via the Samsung Galaxy S8, an AT&T 5G Evolution capable smartphone
null

[2019-04-19 00:27] scshitole commented on #92
@dannyk81  @swightkin we need to create new resource like ``` bigip_net_routeDomain ``` so we can add multiple RD

[2019-04-19 00:35] dannyk81 commented on #92
Yes, that would be needed as well, but it's not enough.

We need to add support for the route domain semantics in all the resources that implement it: node, virtual server, routes and self ips

as well supporting both variants (with and without route domain).

currently the provider handles route domains across all these resources as long as there's only one route domain per partition (and it is t

[2019-04-19 01:40] dannyk81 commented on #89
It's a bit confusing when you're editing my post with your comments directly, better to quote reply.

this is just a "static" json file that your read and push to bigip, how is that json file content generated? should we use some template data sources? populate it manually?

sorry, but given the above example - I'm not really clear how that would work.

So, is it a replacement? or you a side-by-si

[2019-04-19 16:37] dannyk81 commented on #89
@scshitole can't really follow your answers above as the markdown for the quotes is messed up.

But I feel we are going in circles a bit... the whole point of using Terraform is that to the user ("us DevOps folks") has a single **declerative** interface based on the HCL language, where we define what we want using a standardised approach (i.e. using resources, variables, outputs, data sources, tem

[2019-04-19 22:15] scshitole commented on #92
@swightkin I might have fix for the same soon .. still working on my private branch
[code]

[2019-04-19 23:03] scshitole commented on #92
@swightkin
[code]

[2019-04-19 23:59] swightkin commented on #92
Thanks @scshitole ! I see that you're defining the RD as part of the file. In our situation we use RD for logical DMZ vs internal separation. So we'd have hundred of virtual servers using RD 10 and hundreds using RD20. If we have to add the net_route_domain for each virtual server that's created via TF, how would that react?

My concern would be if we did a terraform destory on an applicatoin, it'

[2019-04-25 18:20] pescetto opened #95 "Feature Request: Declarative Onboarding Resource"
It'd be nice to have a DO resource that accepts a json blob and then makes the API call with that. This will likely need to be added to the `go-bigip` client.

[2019-04-25 18:25] dannyk81 commented on #95
This doesn't seem to go hand in hand with the way Terraform works.

And you can do this with a null_resource

[2019-04-25 18:46] pescetto commented on #95
@dannyk81 I'd rather not shell out and yes, declaritive platform on top of declaritive platform isn't ideal, but I'd rather the API call go through the go-bigip client than a frigging curl command.

[2019-04-25 19:03] pescetto commented on #66
FYI, this PR will allow you to get the list of devices in the cluster. You'll have to then look at the `FailoverState` attribute to see if it's active or standby:

[2019-04-25 19:17] dannyk81 commented on #66
potentially, the provider may query for the active device before each CRUD operation and determine which device to use for the actual CRUD API call.

This would however make things a bit ambiguous, as you would be putting one address in provider and instead it would go to another (also need to consider Standalone configuration).

Additional issue is that some resources are not "sync-able" and need

[2019-04-25 19:27] dannyk81 commented on #95
I hear you, but... I'm kind of missing the point of this in the scope of terraform to be honest.

By pushing arbitrary json payloads directly to the device you miss out on the whole premise that the input should be validated, checked against the actual configuration on the device, etc...

IMO for this purpose a tool like Ansible seems more appropriate.

[2019-04-25 19:28] dannyk81 commented on #85
@scshitole who's the maintainer from HashiCorp that works on this?

[2019-04-25 20:51] dannyk81 commented on #85
@scshitole looks like v0.12.1 was released 2 days ago :sweat_smile:
![image](https://user-images.githubusercontent.com/24274156/56767571-11929180-677a-11e9-9557-e5e2a6142033.png)

but it's missing the few recent fixes :-(

do you think we can do v0.12.2? also include #96, this is in addition to #93 and #94 :pray:

[2019-04-25 21:03] pescetto commented on #95
@dannyk81 Yeah, I actually agree with you 100% on that missing the point of terraform, but whenever I talk to ANYONE from F5, they promote DO and AS3 exclusively. There was even a webinar where they showed using the null_resource as the terraform way to interact with DO and AS3. We don't implement Ansible and as mature as it is for the F5 platform, we're not looking to use it.

But I agree, I'd ra

[2019-04-25 21:13] dannyk81 commented on #95
Thanks @pescetto, agree with you 100% regarding the current status of the provider, I believe the quality has improved but a lot is still missing (and we don't even have data sources...)

We've been using the provider for over a year now, overall we are pleased and whatever was missing we contributed back (something I would encourage every one to do).

I had a similar discussion with @scshitole re

[2019-04-25 21:32] #81 closed

[2019-04-25 21:36] pescetto commented on #95
Yeah, @dannyk81 I'm closing this and my AS3 issue because I agree that's not the right approach and it's not what Terraform is for. I'm hoping that F5's teams can help improve this provider in the way we need and not push DO and AS3 so heavily. I've got a few PR's open with go-bigip and once those are merged I'll work on getting the resource added if possible.

Thanks Danny!

[2019-04-25 21:36] #95 closed

[2019-04-25 21:36] pescetto commented on #75
Closing due to convo here:
https://github.com/terraform-providers/terraform-provider-bigip/issues/95

[2019-04-25 21:36] #75 closed

[2019-04-25 21:46] dannyk81 commented on #95
Cheers @pescetto! I saw your go-bigip PRs, indeed useful :+1:

I think it would good to have additional maintainers joing both projects and help push these tools forward, I volunteered :wink: but looks like they are not interested.

[2019-04-25 22:26] pescetto commented on #95
@dannyk81 thanks. If you're in the `f5CloudSolutions` Slack workgroup, there's a #go-bigip room that I created to hopefully be able to have discussions like this one there. Feel free to join if you've got time.

[2019-04-25 22:28] dannyk81 commented on #95
I'm not a membet of that work group, can you send me an invite? would love to join the discussion

[2019-04-27 01:37] techspecguy commented on #30
I can confirm this behavior.  Policies also do not show up in the state when importing a Virtual Server resource.  The virtual's policies always show #0 and each time applying, terraform thinks it needs to add the policies that are defined in the tf config.
The policies if defined actually get created when adding a virtual server, but state still shows none.

When trying to create a policy resourc

[2019-04-27 20:22] skathiresan87 commented on #92
Hi, I am currently facing the same issue.
State file only shows the IP address not the route domain ID.

if we are creating  6th node in a pool, all the previous running 5 nodes are recreated and that is causing the pool to go down [health check fails] and hence the outage.

As a workaround, I am using lifecycle to ignore "address"

lifecycle {
        ignore_changes = [  "address" ]
    }

Not su

[2019-04-29 23:54] dannyk81 opened #99 "Feature request: Add support for Client/Server SSL Profiles"
go-bigip seem to have the plumbing for this, but we don't have the resource for SSL profiles.

/cc @scshitole

[2019-05-06 21:42] blakesherry opened #104 "Feature request: Ability to Sync F5 pair after applying F5 config"
Currently I don't see the capability to create pools, nodes, and health monitors to an F5 pair. provider "bigip" { address = "${var.url}" only allows a single host and I don't see a way to sync F5's, if I was able to list multiple F5 hosts

[2019-05-06 22:35] dannyk81 commented on #104
I'm assuming you are not using automatic sync?

If you use [Terragrunt](https://github.com/gruntwork-io/terragrunt) you can add an [After-Hook](https://github.com/gruntwork-io/terragrunt#before-and-after-hooks) to run a Sync command.

Additionally you can setup provider aliases to point to different bigip nodes and invoke that provider in the resources block as required.

For example:

[code]

Usi

[2019-05-10 20:39] techspecguy opened #105 "F5 Policy resource doesn't work"
It seems nothing involving policies wants to function.  The resource will not create policies in anything but a draft mode, nor will virtual servers maintain references to an applied policy.  I can create a config for a simple Virtual with a pre-existing policy associated, and TF never see's it in the state.  Each TF plan results in wanting to add the policy.  Even after importing a VS into my sta

[2019-05-10 21:48] dannyk81 commented on #89
@scshitole would you consider this request?

[2019-05-10 21:51] dannyk81 commented on #105
Policy resources are unfortunately broken, this is a dup of #30

[2019-05-10 21:51] scshitole commented on #89
@dannyk81  yes we are working on this one.

[2019-05-14 15:13] blakesherry commented on #104
currently we do not auto sync F5 pairs. I will look into Terragrunt and add an After-Hook to run a Sync command.

[2019-05-14 16:43] spirrello opened #106 "Example on creating multiple nodes, pools and VIPs?"
Hi,

Do you have an example of how to use this provider for creating multiple nodes, pools and VIPs?

[2019-05-20 19:47] scshitole commented on #106
[code]

[2019-05-23 00:27] onurbrc opened #107 "bigip_ltm_policy with additional option"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
- bigip_ltm_policy

##### TERRAFORM VERSION
[code]

##### BIGIP VERSION
[code]

##### SUMMARY
Hi !

It would be nice being able to add http requests redirection to https for virtual servers listening on 80 which traffic must be on https ports instead. The CLI example as follow :

##### TMSH EXAMPLE

[code]

##### EXPECTED RESULTS
[code]

####

[2019-05-28 13:04] nrk-haavardm opened #108 "No support for terraform 0.12"
It's not possible to use this provider with terraform 0.12, are there any plans to support 0.12?

[2019-06-06 21:53] DavidGamba opened #114 "Allow definiting Status, enabled or disabled, in pool attachment"
Currently, there is no way to manage pool member status through Terraform.

I set the status to disabled when I am migrating nodes and want the connections to gracefully drain before removing them from the pool.

I am assuming the place to do this would be the pool attachment resource.

[2019-06-07 18:09] RavinderReddyF5 commented on #92
@swightkin

Hope you are expecting below Behavior, please review change?

root@terraformclient:~/Go_Workspace/src/github.com/terraform-providers/terraform-provider-bigip# cat route_domain.tf
provider "bigip" {
  address = "xxx.xxx.xxx.xxx"
  username = "admin"
  password = "F5site02"
}

resource "bigip_ltm_virtual_server" "test_vs3" {
        name = "/Common/test_vs2"
        destination = "172.17

[2019-06-07 18:35] RavinderReddyF5 commented on #92
@swightkin
Hope you are Expecting Below Behavior, Can you please review?

[code]

[2019-06-10 14:59] spirrello commented on #106
Thanks, i'll try this.

[2019-06-10 14:59] #106 closed

[2019-06-10 15:03] spirrello opened #115 "Terraform BIG IP module out of sync"
We have an issue when the pool and VIPs already exist on the F5 load balancer, Terraform always fails.  I've tried refreshing but the only way to reconcile this is to delete the pools or VIPs on the F5 and then execute the terraform script.

Is there a better way to work around this?

**Script**

resource "bigip_ltm_pool" "pool" {

  name = "${var.partition}${var.pool}"
  load_balancing_mode = "ro

[2019-06-10 15:06] dannyk81 commented on #115
if you have pre-existing resources that were not created by terraform on the managed device, the correct way to reconcile it is to import these resources into terraform.

https://www.terraform.io/docs/import/

[2019-06-11 09:45] RavinderReddyF5 commented on #92
@swightkin

I hope below Behavior solves your issues. please comment. so that i can do Pull request with change.
This will solve comments mentioned by :https://github.com/terraform-providers/terraform-provider-bigip/issues/92#issuecomment-485040777

[code]

[2019-06-11 09:53] swightkin commented on #92
I am away on vacation and unable to fully review just now. I'll look at this when I return. I appreciate your help!
________________________________
From: RavinderReddyF5 <notifications@github.com>
Sent: Tuesday, June 11, 2019 5:45:52 AM
To: terraform-providers/terraform-provider-bigip
Cc: swightkin; Mention
Subject: Re: [terraform-providers/terraform-provider-bigip] Unable to retrieve route domai

[2019-06-19 10:43] myclau opened #119 "bigip_ltm_policy rule condition not working"
I am trying to create a policy if the uri contain my domain will forward to some pool.
This is my current policy resource
[code]

when I `terraform apply`
it will always show up this
[code]

I try if comment the condition is will create the policy successfully
[code]

More info

my current provider settings
[code]

[2019-06-21 17:55] RavinderReddyF5 commented on #92
@swightkin
Did you get chance to review your expectation?

[2019-06-21 19:23] swightkin commented on #92
I'll review this by Monday. Sorry for the delay! Playing catch-up after vacation.

Thank you!
________________________________
From: RavinderReddyF5 <notifications@github.com>
Sent: Friday, June 21, 2019 12:55:29 PM
To: terraform-providers/terraform-provider-bigip
Cc: swightkin; Mention
Subject: Re: [terraform-providers/terraform-provider-bigip] Unable to retrieve route domain to properly display

[2019-06-21 20:17] swightkin commented on #92
@RavinderReddyF5

That appears to take care of the issue I am having! Does it track the route domain for just the node IP or does it include virtual server destination/source?

Thanks,

[2019-06-25 11:40] RavinderReddyF5 commented on #107
Hi @onurbrc ,
You can Assign a policy to Virtual Server using Terraform as below, actually there are Multiple Issues like

- Not able to Create Policy Rule

- Not able Publish Policy which is causing policy addition to Virtual Server Not happening

After resolving those issues i am able to configure policy and assign it to Virtual server as below.

**Terraform Configuration:**
[code]

**Terraform

[2019-06-25 11:42] RavinderReddyF5 commented on #105
Hi  @techspecguy , @dannyk81,

You can Assign a policy to Virtual Server using Terraform as below, actually there are Multiple Issues like

- Not able to Create Policy Rule

- Not able Publish Policy which is causing policy addition to Virtual Server Not happening

After resolving those issues i am able to configure policy and assign it to Virtual server as below.

**Terraform Configuration:**
[co

[2019-06-25 21:14] DarthVader2409 opened #120 "Feature request: Resource Importability for BIGIP Resources"
I understand that terraform can import one resource at a time and each resource in terraform must implement some basic logic to become importable. Currently, I don't see a way to import BIGIP resources like a ltm monitor or node.

[2019-06-25 21:49] RajanAnjali commented on #115
@spirrello  Where you able to use import function with BIGIP resources?

[2019-06-25 21:53] dannyk81 commented on #120
All resources can be imported, they all implement the import function which in most cases is a simple pass-through to the read function.

I personally used the provider to import: virtual servers, pools, pool attachments (for which I implemented the [import](https://github.com/terraform-providers/terraform-provider-bigip/pull/84)), nodes, snat pools and others.

Have you tried to import? have you

[2019-06-26 12:38] vjvalenti2 commented on #106
@scshitole Would you be able to provide a version targeted for 0.12? It seems that the new for loop functionality would really come in handy here.

[2019-06-26 13:13] dannyk81 commented on #106
release [v0.12.3](https://github.com/terraform-providers/terraform-provider-bigip/releases/tag/v0.12.3) is out (https://github.com/terraform-providers/terraform-provider-bigip/blob/v0.12.3/CHANGELOG.md#0123-june-06-2019) and includes support for 0.12

[2019-06-26 14:57] DarthVader2409 commented on #120
Ah, I see. Thank you. I am new to terraform, I was going through the website and read that for those resources that support import, they are documented at the bottom of each resource documentation page, under the Import heading. https://www.terraform.io/docs/providers/bigip/r/bigip_ltm_pool_attachment.html
But I didn't find any information about import in there.

[2019-06-26 14:57] #120 closed

[2019-06-26 16:15] dannyk81 commented on #120
Docs for this provider are not in the best of shapes, but the functionality is there.

I had a PR that was merged for the pool attachment import doc https://github.com/terraform-providers/terraform-provider-bigip/pull/88, not sure why it's not there on the website :man_shrugging:

[2019-06-27 12:58] marianne-butaye opened #121 "Add description fields to main resources"
Hello,

There seems to be missing the 'description' field on many resources. That is a feature my team and I would be greatly interested in.
I don't know about all the other resources, but for our part we would need it on the following resources:
- bigip_ltm_virtual_server
- bigip_ltm_pool
- bigip_ltm_pool_attachment
- bigip_ltm_node

[2019-06-27 14:42] marianne-butaye opened #122 "'content_type_exclude' of 'bigip_ltm_profile_httpcompress' fails"
The new property '*content_type_exclude*' of resource '*bigip_ltm_profile_httpcompress*' cannot be added/updated.

Every time I try to add a value, the **plan** is correct:

[code]

The **apply** seems correct:
[code]

But **terraform show** shows that parameter was not modified.
[code]
The **apply** command try to add it every time. **It was not added on the F5 device.**

[2019-06-27 15:15] marianne-butaye opened #123 "Changing name in 'bigip_ltm_profile_http2' causes Terraform Crash"
I know that the '*name*' cannot be updated on the F5 device (I usually use lifecycle's ignore_change on both '*name*' and '*partition*' to remedy to that); but this **comportment is different** than other resources in this case.

When I change the '*name*' of the resource (without lifecycle use), other resources succeed the **apply** phase even when the F5 device cannot change this property; but t

[2019-06-28 04:26] scshitole commented on #108
@nrk-haavardm this we fixed

[2019-06-28 04:26] #108 closed

[2019-06-28 13:12] vjvalenti2 commented on #106
Yes, I am aware. We are building an Big-IP configuration from scratch so it would be very helpful to take advantage of some of 0.12's new features like dynamic blocks and for loops. But I haven't yet seen any working examples of such with this provider.

How can we for example generate dynamic blocks of node resources from a list of node names?

[2019-06-28 23:38] vjvalenti2 commented on #106
Nevermind - I now see that for/for_each does not (yet) apply at the resource level, so I went with the old count method.

[2019-07-02 11:49] lukibahr opened #125 "Setting for bigip_ltm_virtual_server "type required"
Hey folks,

I'm looking for the setting of the type of a virtual server

![image](https://user-images.githubusercontent.com/17235051/60510493-ce9bef80-9ccf-11e9-836f-1775c018a0ce.png)

Terraform creates a virtual server with type "Performance (Layer 4)" per default but I want to create one of type "standard".

Am I missing the required setting or anything else?

[code]

[2019-07-02 22:37] mdditt2000 commented on #123
Jira TER-19

[2019-07-02 22:43] mdditt2000 commented on #125
Jira TER-20

[2019-07-02 22:47] mdditt2000 commented on #122
TER-21

[2019-07-02 22:49] mdditt2000 commented on #121
TER-22

[2019-07-02 23:24] mdditt2000 commented on #119
TER-23

[2019-07-03 03:26] Pacobart commented on #119
I'm experiencing this same issue. Any update on a fix?

[2019-07-08 04:54] pirotrav commented on #99
I took a stab at these in a branch:
https://github.com/pirotrav/terraform-provider-bigip

They do seem to work in general, but I'm very new to terraform so some descriptions may be off and there may be bugs or logical issues.  But hopefully it's useful work anyway.

One 'bug' I am aware of is when creating SSL profiles that do not have certain variables set, the default checkboxes are overridden s

[2019-07-08 04:57] pirotrav commented on #99
Relevent files:

https://github.com/pirotrav/terraform-provider-bigip/blob/master/bigip/provider.go

https://github.com/pirotrav/terraform-provider-bigip/blob/master/bigip/resource_bigip_ltm_profile_ssl_server.go

https://github.com/pirotrav/terraform-provider-bigip/blob/master/bigip/resource_bigip_ltm_profile_ssl_client.go

[2019-07-10 18:18] scshitole commented on #105
@techspecguy can you try with the latest build ?

[2019-07-11 16:18] spirrello commented on #115
@dannyk81 Do you have an example of how to do this with an F5 resource?

[2019-07-11 17:03] DarthVader2409 commented on #115
All BIGIP resources can be imported but terraform can import only one resource at a time.

Usage: terraform import [options] ADDR ID
ADDR- address to import the resource to.
ID- resource specific ID to identify the resource being imported

To import a resource, first write a resource block for it in your configuration, establishing the name by which it will be known to Terraform:
resource "bigip_l

[2019-07-15 09:45] RavinderReddyF5 commented on #123
@marianne-butaye

I fixed Issue, hope this solves your Problem.

**1st time Terraform Apply**

[code]
**Terraform Show**

[code]

**2 nd time Terraform apply with Name Change**

[code]

**Note: this Will not Change Profile Name on BIG-IP**

[2019-07-16 16:10] scshitole commented on #123
#126  fixes this problem

[2019-07-16 16:10] #123 closed

[2019-07-16 20:43] spirrello opened #127 "iRules Not Working"
Hi,

I'm trying to add an irule to my virtual server but I'm getting an error.  Am I doing something wrong?

**ERROR MESSAGE:**
terraform plan -var-file=f5.secrets.tfvars -input=false

Error: module.vpmytest.module.vpmytest.bigip_ltm_virtual_server.https: : invalid or unknown key: rules

**Version and resource snippet:**
* terraform = v0.11.10
* provider.bigip: version = "~> 0.12"

resource "bigip

[2019-07-18 01:14] jlosito commented on #99
Is there any update on when this feature will be released?

[2019-07-18 01:18] jlosito commented on #30
Any update on fixing this bug?

[2019-07-18 11:15] RavinderReddyF5 commented on #121
@marianne-butaye

fixed issue for
- bigip_ltm_virtual_server
- bigip_ltm_pool
- bigip_ltm_node

there will not be any description field for "bigip_ltm_pool_attachment" it will take consider description of "bigip_ltm_pool"

[2019-07-18 20:55] scshitole commented on #127
@spirrello can you please try with ```rule``` instead

[2019-07-19 09:28] RavinderReddyF5 commented on #127
@spirrello
you should use `irules` instead rule

**Terraform show**
[code]

[2019-07-19 14:27] spirrello commented on #127
I'll try that thanks.  So is this documentation incorrect where it states to use `rules`?

https://www.terraform.io/docs/providers/bigip/r/bigip_ltm_virtual_server.html

[2019-07-20 04:41] pirotrav commented on #99
@jlosito I'll be back Tuesday and can update you then.  Note that I do not work for f5 but my script appears to be feature complete and passes unit testing as well as my functional testing.  I need to push the latest though again; I think what is on github in my branch is a bit out of date since I have made fixes.  Also there is a known bug with client SSL in the go-bigip backend that I reported t

[2019-07-22 00:24] jlosito opened #129 "examples on website not properly formatted"
Some of the example on the webiste are not properly formatted.

[2019-07-22 16:58] jlosito opened #131 "want better error message for load_balancing_mode"
Currently, when providing a bogus value for load_balancing_mode under the pool resource, the error message simply states something like the following:
[code]

It would be much nicer if the error message stated that an invalid value for load_balancing_mode was used and provide the list of valid load_balancing_modes, ie. `round-round`, `least-connections-member`.

[2019-07-23 06:16] RavinderReddyF5 commented on #127
@spirrello
Sure will Update Document accordingly.

[2019-07-23 19:18] jlosito opened #132 "controls for policy required or optional"
I'm getting an error when trying to create a bigip_ltm_policy. The error states that I'm missing a required argument, controls. But the documentation states that controls is an optional argument [here](https://www.terraform.io/docs/providers/bigip/r/bigip_ltm_policy.html#controls), and I noticed that the scheme states that it's required [here](https://github.com/terraform-providers/terraform-provi

[2019-07-23 19:40] jlosito opened #133 "rule for policy required or optional"
I am getting an error when trying to create an bigip_ltm_policy that states that I have insufficient rule blocks. The documentation states that rule is an optional argument [here](https://www.terraform.io/docs/providers/bigip/r/bigip_ltm_policy.html#rule), and the schema states that it is required [here](https://github.com/terraform-providers/terraform-provider-bigip/blob/master/bigip/resource_big

[2019-07-24 20:33] jlosito opened #135 "allow uploading policies to a specific partition"
Currently, the ltm_policy resource does not have the ability to upload policies to a partition which is not Common.

[2019-07-25 00:29] dannyk81 commented on #135
indeed it is a bug I mentioned several times, since the Common partition is hard coded in the code.

@scshitole

[2019-07-25 00:49] jlosito commented on #135
We have a working change that allows for uploading to a specific partition. We are planning to submit a PR once we've tested a little more.

I think the issue is a partition name is never passed to the rest client, so the rest client assumes Common since it's the default.

[2019-07-25 01:00] dannyk81 commented on #135
the issue is in the go-bigip library, specifically here https://github.com/terraform-providers/terraform-provider-bigip/blob/e6f13aa07b8783bf38af8aa34d0a59a4bb119db3/vendor/github.com/f5devcentral/go-bigip/ltm.go#L2582

as you can see `~Common~` is always added to the policy name.

[2019-07-27 03:12] dlhace opened #136 "shared datagroup is replaced vs the entries tracked in the terraform plan being changedd"
We have shared datagroups that are used for redirection and pool mapping.
Person 1 might manually add an entry to datagroup test
z.abc.com  pool0

Person 2 might do a terraform of
resource "bigip_ltm_datagroup" "datagroup" {
  name = "/Common/test"
  type = "string"

  record {
    name = "a.abc.com"
    data = "pool1"
  }

  record {
    name = "b.abc.com"
    data = "pool2"
  }
}

Instead of jus

[2019-07-27 15:18] dannyk81 commented on #136
There are two main issues with what you describe:

1. resources managed by Terraform shouldn't be modified manually on the managed device, since terraform is not aware of the 3rd record you/someone else added manually it will get removed since it will show up as a change when Terraform calculates the diff.

2. you can't manage the same device resource from multiple terraform configuration/resource

[2019-07-27 21:48] dlhoward commented on #136
I am new to terraform and thought this might be the viewpoint.  If you have
other ways that this might be done, please let me know.

I thought I would ask, because there are cases where different parts of a
single configuration might be owned by multiple groups in a large
organization,  Centralizing of all configurations is not always easy as it
would require redoing structure and process of the o

[2019-07-28 18:51] dannyk81 commented on #136
No doubt, this is a challenge, but in order to effectively use either IaC or a CM tool, synchronisation across all involved teams and proper change/review process is a must, otherwise you're just going to hit even more issues down the line.

We have a complex organization as well, numerous datacenters worldwide with different environments in different stages (pre, prod, test, dev, etc...), buildin

[2019-07-29 20:05] pirotrav commented on #99
@scshitole Any input on when this can be reviewed or merged?  Also issue [27](f5devcentral/go-bigip#27) is a clear bug and should be fixed as well (cipher case sensitivity).  Apart from that clear defect, PUT vs PATCH is also an important distinction that should be made here and possibly in other places that have inheritance properties.

[2019-08-01 13:24] jlosito commented on #121
I've been using the new description feature, but I noticed that even though I set description = "" in the resource that the description field on the F5 still shows "VirtualServer-test". I would like the description field to be an empty string as the default.

[2019-08-08 17:46] scshitole commented on #132
@jlosito can you please test after the latest commit.

[2019-08-08 20:33] pirotrav commented on #99
@jlosito , looks like this is merged into master.  If you get the chance please test and let me know if you encounter any issues.  Unit tests are in place and I did fairly comprehensive testing, but there are a lot of potential toggles so it would be good to hear any direct feedback as well.

Also again issue 27 above is still a concern.
@scshitole , thanks for merging that change.  Can you also t

[2019-08-08 20:51] jlosito commented on #99
@pirotrav I just looked over the code and it looks awesome. Once I get a chance, I'm definitely going test it and run a terraform import for the certs which I had to upload and maintain through some non-Terraform scripts.

[2019-08-12 06:48] papineni87 commented on #133
Rule argument is optional and fixed in the schema code

[2019-08-12 06:48] papineni87 commented on #133
merged in the master branch

[2019-08-12 06:51] papineni87 commented on #127
@spirrello can you test with latest commit ?

[2019-08-12 15:57] #129 closed

[2019-08-12 16:08] jlosito commented on #132
@scshitole looks good.

[2019-08-12 16:08] #132 closed

[2019-08-12 16:09] #133 closed

[2019-08-13 20:57] jlosito opened #142 "virtual server persistence_profile attribute cannot revert back to None"
I have a couple of VIPs which do not need any persistence profile. I'm coming across an issue where I've set the persistence_profile attribute to something such as "/Common/cookie" but then am not able to change to "None".

Here's an example of what I'm trying to explain.

First I'm creating a VIP like the following:
[code]
Then I'm trying to change the default persistence profile for the vip from

[2019-08-13 23:59] #135 closed

[2019-08-14 14:00] jlosito commented on #135
@scshitole Can we reopen this since the changes were reverted?

[2019-08-15 13:05] jlosito commented on #89
Can someone please clarify which project we should be submitting PRs to If we want to contribute to the go rest client? I would like to get some functionality added to this provider but first need to add functionality to the rest client.

[2019-08-15 13:08] dannyk81 commented on #89
@jlosito that would be https://github.com/f5devcentral/go-bigip

however this repo is a fork without issue tracking, so indeed a bit of a challenge to work with, hence this request from a while back.

[2019-08-15 13:13] dannyk81 commented on #95
looks like an AS3 resource was finally added to the provider...
https://github.com/terraform-providers/terraform-provider-bigip/pull/137

I'm not against adding new features :smile: but this feels hugely counter intuitive to me and kind of opens the door for "just push a json with the AS3 resource if a native terraform resource doesn't exist"

As a terraform user, I would like to see increased cov

[2019-08-16 08:58] fcgravalos opened #148 "Default description should not include "Test" string"
I think that default description for any object should have the "Test" string as a default value. The default should be an empty string.

We applied a change and didn't notice the update in the plan and now we have descriptions for pools and nodes that contains "Test", like "VirtualServer-Test", this is really confusing it should just not have description at all.

cc @dannyk81 @scshitole

[2019-08-16 10:57] dannyk81 commented on #148
agree, this is wrong...

https://github.com/terraform-providers/terraform-provider-bigip/blob/3976a65261a984b23961963cee256eec08ffeee9/bigip/resource_bigip_ltm_node.go#L63-L67

This was introduced in the following PR:
https://github.com/terraform-providers/terraform-provider-bigip/pull/128

/cc @RavinderReddyF5 - this needs to be fixed.

[2019-08-16 11:00] dannyk81 commented on #148
this attribute (since it's Optional), should not have the `Default` parameter at all.

[2019-08-16 11:53] jlosito commented on #148
I'm currently having the same issue with my F5 instance. Now I have a bunch of entries with the *-test description field. Below describes how I'm trying to work around it.

I'm observing a weird issue with this description attribute where only upon the second terraform apply does it update the description to nil. I'm currently trying to override this default description field by adding a variable

[2019-08-16 15:13] dannyk81 commented on #148
@jlosito that seems to be related with the fact that the VS, Pool and Node resoources Read method doesn't update the `description` field... this seems to be causing these weird artifacts.

The Update method calls the Read method at the end of the run, which is how the State gets updated, but the Read method doesn't have a `d.Set()` call for the description attribute which is critical for this to w

[2019-08-16 20:38] spirrello commented on #127
@papineni87 haven't had a chance to test but go ahead and close this...thanks for your help.

[2019-08-16 20:38] #127 closed

[2019-08-17 18:13] spirrello opened #150 "Terraform Plan Times Out"
When we run a Terraform plan against our LTM we're getting timeout errors.  Is there a way to increase the timeout period?  We're never able to establish a successful run of this script.

LTM 13.1.0.8 Build 0.0.3 Point Release 8
Provider version = "0.12.4"
Terraform v0.12.6

5:57:08  + terraform plan -var-file=f5.secrets.tfvars -var-file=terraform.tfvars.json
15:57:09  [0m[1mRefreshing Terraform

[2019-08-19 09:10] RavinderReddyF5 commented on #148
Hi,
@dannyk81 @jlosito @scshitole

Please review Changes in Pull request:
https://github.com/terraform-providers/terraform-provider-bigip/pull/151

[2019-08-19 14:06] spirrello commented on #150
By the way, I opened a case with F5 support and they asked the same question on if we can increase the timeout.

[2019-08-19 14:24] dannyk81 commented on #150
@spirrello really difficult to understand the output you've pasted, but this seems like you might have some connectivity issue between the machine running terraform and bigip.

are you able to run some manual curl commands against this bigip device? is port tcp/443 reachable on the bigip?

The above rest query just GETs the Self IPs, it shouldn't take more than a second, while in your case seems t

[2019-08-19 14:50] spirrello commented on #150
We don't have any connectivity issues and I've verified this by running  packet captures on the LTM's management interface.  I've verified that the LTM is taking approximately 9 seconds to respond after the TLS handshake and the Terraform client resets the connection after finally getting a response from the LTM.

![image](https://user-images.githubusercontent.com/7174260/63275257-2e922980-c26f-11

[2019-08-19 15:05] dannyk81 commented on #150
9 seconds for a TLS handshake is an awful lot of time... this shouldn't be taking this long and I would try to understand the root cause of this.

In my example this takes 0.5 second (`time_appconnect:  0.553400`).

---

In any case, the `go-bigip` library sets a default timeout of 60 seconds for all API calls
https://github.com/f5devcentral/go-bigip/blob/cb399c531a76f0c01442fd50d78def40341fb8db/b

[2019-08-19 19:19] jlosito opened #152 "enable and disable virtual server state"
Is there currently a way to modify a virtual server's property called "State" to either "Enabled" or "Disabled"? What I'm referring to is something similar to the following [link](https://github.com/terraform-providers/terraform-provider-bigip/blob/master/bigip/resource_bigip_ltm_node.go#L68-L71) for nodes. I don't see any attributes in the source code of the virtual server resource that may be ab

[2019-08-19 20:08] DarthVader2409 commented on #120
@dannyk81 Hi Danny! Would you be able to help me with this- https://discuss.hashicorp.com/t/help-template-tf-and-user-data-yaml-tpl-flexible-assignment-of-variable/2444

[2019-08-20 15:40] scshitole commented on #148
@fcgravalos can we close this now

[2019-08-20 16:10] dannyk81 commented on #148
@scshitole was this tested? does it fully fix the issue?

[2019-08-20 16:23] RavinderReddyF5 commented on #148
@dannyk81 ,
Yea i have tested all scenarios

=== RUN   TestAccBigipLtmNode_create
--- PASS: TestAccBigipLtmNode_create (1.10s)
=== RUN   TestAccBigipLtmNode_import
--- PASS: TestAccBigipLtmNode_import (1.54s)
=== RUN   TestAccBigipLtmNodeInvalid
--- PASS: TestAccBigipLtmNodeInvalid (0.02s)
=== RUN   TestAccBigipLtmNodeCreate
--- PASS: TestAccBigipLtmNodeCreate (0.10s)
=== RUN   TestAccBigipLtmPool

[2019-08-20 16:38] dannyk81 commented on #148
well, I was going to comment on #151 that the current tests don't actually cover all the scenarios, they only test empty descriptions...

but you went ahead and merged it...

[2019-08-20 16:51] scshitole commented on #148
@dannyk81 can you please specify the test cases you would like to cover, we can test those before releasing the binary ?

[2019-08-20 17:07] spirrello commented on #150
I have a case open with F5 and I'll share with what they come back with.  Stay tuned.

[2019-08-20 17:16] dannyk81 commented on #148
- with empty description
- with non-empty description
- setting description and later removing description

[2019-08-22 07:15] RavinderReddyF5 commented on #152
@jlosito
Hope Below Behavior Solves your requirement, please comment so that i can submit fix.

**First time terraform apply without status attribute mentioned in .tf file:**

[code]

**Terraform show output:**

[code]

**Second time terraform apply**

[code]

**Change status to disabled in .tf file and apply**

[code]

[code]

[code]

[2019-08-22 11:07] dannyk81 commented on #152
@RavinderReddyF5 shouldn't this attribute be named `state` and not `status`, for consistency.

[2019-08-22 11:54] jlosito commented on #152
I'm a little confused @RavinderReddyF5. Are we staying that an addition attribute will be created in the schema of the virtual server resource? In other words, I'm wondering if this functionality does not currently exist and that we need to add this functionality. I currently don't see a status nor state attribute.

If we need to add this functionality, I think you're approach is great! If we can

[2019-08-22 12:05] dannyk81 commented on #152
@jlosito indeed, the current implementation doesn't include an attribute which in the Virtual Server resource that can set the `State` of the VS, @RavinderReddyF5's outputs above seem to suggest he's added the code for this, but I haven't seen a PR so seems like a local dev branch.

Looking forward for the PR.

[2019-08-22 12:10] RavinderReddyF5 commented on #152
@jlosito @dannyk81 ,
yes this functionality is not available in present implementation. will send out PR for same,modified attribute to `state` from `status`

[2019-08-22 12:36] jlosito commented on #152
This sounds awesome! Thank you everyone!

[2019-08-23 07:23] RavinderReddyF5 commented on #152
@jlosito @dannyk81
Submitted PR for same: https://github.com/terraform-providers/terraform-provider-bigip/pull/153

**Test Logs:**

[code]

[2019-08-29 12:49] dannyk81 commented on #148
@scshitole @RavinderReddyF5 are you planning to add these tests? if not, I suppose this issue can be closed as fixed...

[2019-08-29 14:01] RavinderReddyF5 commented on #148
@dannyk81 ,
Will be going to add, will create separate ticket for same.

[2019-09-09 12:48] soumik612 commented on #45
@scshitole ,
What we basically need is,
1. Creating a custom Monitor "HC4_HTTP_EVAL_PARENT", which inherits parameters from a default monitor, say "http".
2. Creating custom monitor "HC4_HTTP_EVAL", which inherits parameters from HM "A-PARENT".

I have added the API calls below for your reference.

**Parent - "HC4_HTTP_EVAL_PARENT"** :
{"manualResume" : "disabled","adaptiveLimit" : 200,"name" : "H

[2019-09-10 19:35] dhawal55 commented on #125
I'm running into the exact same problem. Any update on this?

[2019-09-10 19:38] dannyk81 commented on #125
BigIP defaults to `FastL4`, in order to use a `Standard` profile ensure you have this in your Virtual Server resource definition:
[code]

[2019-09-10 21:41] stobias123 opened #157 "VCMP Support?"
Is there any intention to support VCMP?
is that already possible here - https://www.terraform.io/docs/providers/bigip/r/bigip_sys_provision.html

[2019-09-10 22:22] dhawal55 commented on #125
When I set `profiles`, I get the following error:
[code]

[2019-09-10 22:47] dannyk81 commented on #125
@dhawal55 I have hit this too, there's an issue when switching from individually set client/server profile(s) to a common profiles attribute.

I was meaning to take a look at the root cause but don't have the time, but the provider doesn't handle that currently and throws the above error.

[2019-09-11 14:11] soumik612 commented on #125
I tried the option provided by @dannyk81 and it works for me. I am able to build standard and Performance HTTP VS by modifying "profiles" attribute:
![image](https://user-images.githubusercontent.com/35273569/64704065-f23c9c80-d4ad-11e9-98b8-b251494f79fe.png)
![image](https://user-images.githubusercontent.com/35273569/64704099-02547c00-d4ae-11e9-9e41-281df574eceb.png)

[2019-09-11 15:53] dhawal55 commented on #125
@dannyk81 Thank you for your help. I will delete and try again with common profiles attribute

[2019-09-11 16:51] scshitole commented on #157
@stobias123 you mean to create VCMP on the F5 Chassis ? The virtual BIG-IP in VCMP should work as it is as the APIs are same.

[2019-09-11 17:00] stobias123 commented on #157
I want to do this - https://docs.ansible.com/ansible/2.5/modules/bigip_vcmp_guest_module.html

[2019-09-11 18:58] dhawal55 commented on #125
@dannyk81 It worked, thanks again.

[2019-09-12 05:40] papineni87 commented on #157
Currently we don't have terraform resources to create cores per slot, creating /deleting virtual disk ...... etc for VCMP , but we will take it up as enhancement  and provide it in coming releases.

[2019-09-17 07:29] lukibahr commented on #125
solution of @dannyk81 worked for me, too! Thank you, guys

[2019-09-17 07:29] #125 closed

[2019-09-17 08:38] soumik612 commented on #99
@hoffmanntravis, I have tested the resource and I came across a few errors (limited to my use case).
1. Missing attribute - "Session Ticket Timeout" under resource **bigip_ltm_profile_client_ssl**
                                    "retain_certificate" not recognised by TF
2. For the first build, the resource code works like a charm. I am able to create a PARENT profile which defaults from "clien

[2019-09-18 09:54] soumik612 opened #159 "Missing Health Monitor resources : UDP / PostgreSQL"
I am testing a use case where we need to build health monitors of type UDP and Postgresql.
 This is how my resource looks like,

![image](https://user-images.githubusercontent.com/35273569/65137888-62957180-da0a-11e9-8b17-92fd51becc6e.png)

This is the error I get when I apply the resources,
![image](https://user-images.githubusercontent.com/35273569/65137942-793bc880-da0a-11e9-8f82-fc3d5be78f0f.p

[2019-09-20 22:19] stobias123 commented on #157
Yeah - would be really cool, I have a client that wants to do this badly.

[2019-09-20 23:15] dhawal55 opened #160 "Authorization error when trying to create virtual server using Manager role"
I'm using a BigIP F5 user with `manager` role in a single partition to create a `bigip_ltm_virtual_server`, `bigip_ltm_pool` and `bigip_ltm_pool_attachment` resources in that partition.

I get the following error:
[code]

What am I missing?

[2019-09-23 09:01] soumik612 opened #161 "Issue with irule resource preferred method - Loading from a file."
When I try to add a new irule using files, it works fine.
However while pushing changes for other resources, TF tries to re-apply the irule entries, although there's nothing changed in the file.
this does not seem efficient, since we have more than 20odd irules and the changes for these irules will pop up during every TF plan.
Is there a way, TF can check make a diff of the contents of the file wi

[2019-09-23 16:48] dhawal55 commented on #160
I figured out the issue. I'm running F5 version v12.1.3.6 and as per documentation I need admin role to access API:

```In BIG-IP 11.5.x to 13.0.x, by default, only users with the Administrator role are granted access to the iControl REST API. In BIG-IP 13.1.x and later, any user you create regardless of role is automatically given access to the iControl REST API, but are limited by their role to

[2019-09-25 15:39] dannyk81 commented on #161
@soumik612 interesting, we load up irules from files as well, specifically we use something like below in the `bigip_ltm_irule` resource configuration:
[code]

with above we never hit an issue that you are describing, as long as the `tcl` files are not modified we never have these false-positive diffs you describe.

Terraform does make a diff between the `irule` attribute content in the state and

[2019-10-05 21:43] dhawal55 commented on #160
It failed in BigIP v14.1.x too. As per this issue, it looks like a BigIP bug: https://github.com/F5Networks/f5-ansible/issues/1175

One workaround suggested in the above post is to not set any metadata but I can't find any option to disable metadata in terraform provider

[2019-10-09 14:54] mathianasj opened #162 "resourceBigipAs3Create expects 200 response but is 202"
When creating a new AS3 request to create an entry the code expects 200 but is getting 202 and causes the request to fail.

[2019-10-09 14:57] papineni87 commented on #162
can you paste the complete error output and also as3 json to check out any issue in as3 json itself ?

[2019-10-09 15:47] papineni87 commented on #162
are you using consul as service discovery with as3 ? or as3 itself for service discovery ? also what is as3 rpm you are using ?

[2019-10-09 16:45] gageorsburn commented on #162
It's being used in conjunction with the openstack terraform that creates floating IP for member IPs and passes them into a JSON template to use with terraform as3.
AS3 3.11

[2019-10-09 17:51] mayurikini opened #163 "Feature request: Updating ratio for a node (pool-member)"
I have a pool with `load_balancing_mode` as `ratio-member`. I am able to set this via terraform. I have 2 nodes as pool members, and I want 1 node to have 99% of the traffic and the other to have 1%. I don't see an option to set ratio for a node. I would like to have ratio as an option.

I do see dynamic_ratio, but I am not sure if dynamic_ratio and ratio in big_ip are same. If I update the dynami

[2019-10-09 18:41] gageorsburn commented on #162
Seems like the request is taking longer than 45 seconds so it returns into an async request and returns a 202 response. Seems like there should probably be code in the provider to retry when the response code is 202 until the resource is actually created.

[2019-10-10 09:50] RavinderReddyF5 commented on #163
@mayurikini please find below document for overview on ratio based load balancing method:
https://support.f5.com/csp/article/K01052782

and also noticed we didnot have attribute for ratio setting on nodes in our resource files. creating internal JIRA Ticket to fix this issue[TER-123]

[2019-10-11 14:41] mayurikini commented on #163
@RavinderReddyF5 Do we have an estimated date for getting ratio setting on nodes?

[2019-10-11 16:47] strantalis opened #166 "Destroying bigip_as3 resource deletes all AS3 resources."
When running a destroy with a bigip_as3 resource it deletes all other AS3 resources that are not defined through terraform.

https://github.com/terraform-providers/terraform-provider-bigip/blob/master/bigip/resource_bigip_as3.go#L164

Running a DELETE on /mgmt/shared/appsvcs/declare will destroy all resources.

[2019-10-11 17:03] papineni87 commented on #166
we should add tenant name to url in delete as3 resource, so that it will delete only given as3 partition. gageorsburn has submitted code change for that and it will fix it.

[2019-10-14 08:57] RavinderReddyF5 commented on #163
@mayurikini Will provide fix in couple of days.

[2019-10-15 22:28] dannyk81 opened #169 "Not possible to remove persistence profile for a Virtual Server"
Provider version: 0.12.3
BigIP: 12.1.1

We have a set of Virtual Servers created with `/Common/source_addr` persistence profile, config:
[code]

We decided we want to remove the persistence profile for the VS, so at first we removed `persistence_profiles = ["/Common/source_addr"]` from the config, that resulted in a "No Change" plan, so we set `persistence_profiles = []` and got this plan:
[code]

[2019-10-16 01:29] dannyk81 commented on #169
Looking at the current implementation, I see a couple of issues:

1) The resource allows to define a set of persistence profiles, however no way to indicate which one is the default persistence profile, if one profile is defined - it becomes the default, however of multiple profiles were defined - none are set as default.

[code]

2) Profiles can be added and removed from the set as long as at lea

[2019-10-16 01:49] dannyk81 commented on #169
using the following `curl` command I was able to clear the persistence profile:
[code]

[2019-10-16 13:21] RavinderReddyF5 commented on #169
@dannyk81
Looks like there are multiple issues in persistance_profile implementation, we are able to address issue(3) in above comments, we are working to fix all of them and update you.

[2019-10-16 13:34] dannyk81 commented on #169
Thanks @RavinderReddyF5

[2019-10-24 20:28] stobias123 opened #171 "Docs for ltm_virtual_server incorrect"
it shows `rules` not `irules` in args list.

[2019-10-24 20:32] dannyk81 commented on #171
there's a PR to fix it https://github.com/terraform-providers/terraform-provider-bigip/pull/62

not sure why it hangs...

[2019-10-25 06:09] RavinderReddyF5 commented on #171
@stobias123 @dannyk81
Fixed issue in : https://github.com/terraform-providers/terraform-provider-bigip/pull/172 and Merged to stable-website branch also. please check n confirm

[2019-10-25 11:20] RavinderReddyF5 commented on #163
@mayurikini
Fix for this issue Merged with PR https://github.com/terraform-providers/terraform-provider-bigip/pull/174

Please verify and let us know

[2019-10-25 11:26] RavinderReddyF5 commented on #121
@jlosito this issue fixed in latest code, but binary yet to release.

Similar Issue :
https://github.com/terraform-providers/terraform-provider-bigip/issues/148

[2019-10-25 11:33] #121 closed

[2019-10-25 13:16] howsTricks opened #176 "Error: Unsupported argument on bigip_ltm_policy"
When attempting to use an example of bigip_litm_policy ( https://www.terraform.io/docs/providers/bigip/r/bigip_ltm_policy.html ), using the following tf code, I get the error message outlined below:

[code]
[code]

Using:
Terraform v0.12.9
provider.bigip v0.12.4

[2019-10-28 15:52] mayurikini commented on #163
@RavinderReddyF5 I updated the ratio value for a node and while applying I could see the following in commandline:
Terraform will perform the following actions:

[code]
In bigip, I did see the update for the node's ratio, but I don't see this update in pool > member. Here the ratio value is still 1. Is this expected?
![image](https://user-images.githubusercontent.com/16544484/67694190-f3982a80-f97

[2019-10-28 18:01] RavinderReddyF5 commented on #163
@mayurikini
we also noticed similar behaviour while adding ratio manually, this is nothing to do with terraform resource module, we are checking this behaviour with bigip team. can you please confirm this is reflecting by running some traffic test scenario.

[2019-10-29 10:35] RavinderReddyF5 commented on #176
@howsTricks
Documentation listed in (https://www.terraform.io/docs/providers/bigip/r/bigip_ltm_policy.html ) is based on terraform v0.11.4, there is change in configuration for terraformv0.12.

Can you please run : **terraform 0.12upgrade** before applying terraform plan, this will convert your .tf config to terraform v0.12 compatible

[2019-10-29 10:40] RavinderReddyF5 commented on #171
Document is updated 👍 https://www.terraform.io/docs/providers/bigip/r/bigip_ltm_virtual_server.html

Closing this Issue.

[2019-10-29 10:40] #171 closed

[2019-10-30 11:48] howsTricks commented on #176
Ah yes, that worked, thanks!

[2019-10-30 11:57] howsTricks opened #178 "bigip_ltm_virtual_server attribute name not updating on apply"
Appears that the "name" attribute on tf does not get updated when edited, even through tf recognizes that it will change it. After "applying" the change, nothing is changed on the F5 and subsequently running apply will attempt to change the name again. Logs show success each time, but actual UI does not not show any changes.

Example tf script:
[code]

Logs:
[code]

[2019-10-30 19:37] mayurikini commented on #163
@RavinderReddyF5 I did some load testing and looks like it is working as expected. I had kept ratio to be 9:1 for the pool members.
![image](https://user-images.githubusercontent.com/16544484/67892158-1b7ac000-fb22-11e9-9ba4-260b7756734e.png)
First row is the pool, second and third row are the pool members.

[2019-10-31 15:07] soumik612 commented on #45
@scshitole ,
The issue still persists.  I tried using both parameter "defaults_from" and "parent". However TF overrides/ignores the "default_from" parameters.

Example resource config:

resource "bigip_ltm_monitor" "MON_HTTP_PARENT" {
  name          = "/Common/MON_HTTP_PARENT"
  parent        = "/Common/http"
  send          = "GET /\r\n"
  reverse       = "disabled"
  interval      = 5
}

resour

[2019-11-01 06:33] papineni87 commented on #178
Generally virtual server name shouldn't be edited, we should add "ForceNew" field for name argument, so that any change in name will create a new resource.

I will add above change in code, so that it won't be misleading

From ( https://devcentral.f5.com/s/question/0D51T00006i7k5A/how-do-i-to-rename-a-virtual-serverpool-name-on-a-f5-ltm- )
 virtual server name can be changed by editing bigip.conf

[2019-11-01 06:40] howsTricks commented on #178
Sounds good. Thanks for the update!

On Fri, Nov 1, 2019 at 7:33 AM papineni87 <notifications@github.com> wrote:

--
-Chris

[2019-11-01 10:00] #178 closed

[2019-11-01 18:20] stobias123 opened #180 "Cannot Modify Datagroup."
When modifying a data group...

[code]

[2019-11-01 18:34] dannyk81 commented on #180
@stobias123 based on above error output it seems you have tried to change the Type of the datagroup (e.g. from string to integer), that is of course not possible (hence the error).

But I'm curious how this happened, since the resource `Type` attribute has the `ForceNew: true` parameter set:
https://github.com/terraform-providers/terraform-provider-bigip/blob/bf3bd79767c83b57522058db0282518796b99a

[2019-11-02 02:51] stobias123 commented on #180
That's incorrect, just trying to remove a key value pair or modify them.

On Fri, Nov 1, 2019, 11:34 AM Danny Kulchinsky <notifications@github.com>
wrote:

[2019-11-02 16:37] dannyk81 commented on #180
Ok, I can't reproduce it. We add/remove/modify keys/values all the time.

share your configuration (before/after),  so we can examine what happens

On Fri., Nov. 1, 2019, 22:51 Steven Tobias, <notifications@github.com>
wrote:

[2019-11-04 20:22] stobias123 opened #182 "Terraform Official docs way behind"
Some resources appear to be missing - I.E. `bigip_ltm_profile_ssl_client`

Provider main docs also don't surface the Env vars you can use.

https://github.com/terraform-providers/terraform-provider-bigip/blob/master/bigip/resource_bigip_ltm_profile_ssl_client.go

[2019-11-04 23:09] stobias123 commented on #180
[code]

[2019-11-05 00:52] dannyk81 commented on #180
@stobias123 we need a full reproducible configuration of the resource, there's not much I can do with that diff above.

[2019-11-05 11:22] papineni87 commented on #182
Will update the documentation

[2019-11-06 00:13] stobias123 commented on #180
@dannyk81  - appreciate the responsiveness! Please let me what other info you might need....

Here's an example before/after.

before
[code]
after
[code]

[2019-11-06 02:06] dannyk81 commented on #180
@stobias123 thanks for the configs, can you also provide the software version running on your F5s?

I was able to reproduce the issue on F5 running version 14.1.2.1, however this works fine on F5 running version 12.1.1.

I suspect the reason is this https://techdocs.f5.com/kb/en-us/products/big-ip_ltm/releasenotes/related/relnote-supplement-bigip-14-1-0-1.html#A742170-2

we are currently not sendi

[2019-11-06 02:34] dannyk81 commented on #180
@stobias123 confirmed, this is the root cause.

The fix is simple and seems to work:
[code]

I will issue a PR shortly with the fix... this also makes it clear that our tests coverage here is very poor as we should have caught this in the tests.

[2019-11-06 06:30] RavinderReddyF5 commented on #180
@dannyk81 Thanks for your fix. We will revisit test coverage and improve coverage.

[2019-11-06 09:34] #180 closed

[2019-11-06 09:37] papineni87 commented on #169
@dannyk81 can you retry the above scenario with the latest code changes, if it works we can close this issue ?

[2019-11-06 10:59] howsTricks opened #185 "BIG-IQ support"
Wondering about this provider's compatibility around BIG-IQ. I know the focus is around BIG-IP, but wondering if this is work to support BIG-IQ and management of BIG-IP through BIG-IQ?

[2019-11-06 16:24] dannyk81 commented on #169
sure @papineni87, was this fix included in v1.0.0?

[2019-11-06 16:27] RavinderReddyF5 commented on #169
@dannyk81  No,It will be Available for Next Release version, but changes are available in repo

[2019-11-06 16:39] dannyk81 commented on #169
ok, I'll build from master and test.

[2019-11-06 19:19] stobias123 opened #186 "Can't change virtual server name?"
Using a resource like below...
[code]

Applying, then changing as shown below.
[code]

Results in a successful apply, but the name is not changed.

[2019-11-06 20:11] dannyk81 commented on #186
I'd say this is a happy accident :sweat_smile: since the name of an existing VS (or Pool, or Node, etc...) cannot be modified, at least not through the API.

In fact, the resource should have a `ForceNew: true` set on the `name` attribute.

I found this hack: https://indepthtechnology.org/2019/03/04/f5-bigip-rename-virtual-server-and-pool-names/

either that, or modifying the config files and relo

[2019-11-06 20:28] stobias123 commented on #186
I'd say the opposite actually, looks like a bug..

If we've got `ForceNew` on the attribute, then why is it saying it can update in place?
https://github.com/terraform-providers/terraform-provider-bigip/blob/master/bigip/resource_bigip_ltm_virtual_server.go#L35

[2019-11-06 20:38] dannyk81 commented on #186
haa, indeed the `ForceNew: true` is already there...

I just did a quick test and in must case the VS resource is indeed being recreated when change the `name`:

[code]

[code]

and here's the apply itself:
[code]

just curious, which version of terraform are you using?

[2019-11-06 20:39] dannyk81 commented on #186
@stobias123 notice the
[code]

[2019-11-06 20:59] stobias123 commented on #186
I get different behavior.
[code]

[code]

[2019-11-06 21:05] dannyk81 commented on #186
welp... the `ForceNew: true` is in master, but not part of v1.0.0 release :smile:

https://github.com/terraform-providers/terraform-provider-bigip/blob/dc9e923a89de5ff0303159a20fa5eafb3e97a61b/bigip/resource_bigip_ltm_virtual_server.go#L31-L36

so that explains things, I'm using a build from master (testing recent fixes) so not hitting this of course.

[2019-11-06 21:08] stobias123 commented on #186
What's the release schedule look like?

Working with a client and trying to get this functionality, as well as a couple new modules (client ssl profiles) asap

[2019-11-06 21:18] dannyk81 commented on #186
no idea...

if urgent, you can always build the plugin from master and put the binary in `~/.terraform.d/plugins/linux_amd64/` (and probably cleanup the modules cache)

/cc @papineni87 @RavinderReddyF5 @scshitole @GaddamSaketha maybe you can help with the release...

[2019-11-07 00:59] stobias123 opened #187 "Can't delete monitor (In-Use)"
This one is tricky...

When trying to delete a monitor... The provider needs to remove from a pool before deleting. Otherwise we get this error.
[code]

Example before config.

[code]

After.
[code]

Do I have to finagle some kind of terraform lifecycle event to make this happen?

[2019-11-07 08:41] RavinderReddyF5 commented on #159
Issues fixed with https://github.com/terraform-providers/terraform-provider-bigip/pull/165

[2019-11-07 08:41] #159 closed

[2019-11-07 08:42] RavinderReddyF5 commented on #142
https://github.com/terraform-providers/terraform-provider-bigip/issues/169

[2019-11-07 08:42] #142 closed

[2019-11-07 08:43] RavinderReddyF5 commented on #148
Fixed in Latest Release

[2019-11-07 08:43] #148 closed

[2019-11-07 08:44] RavinderReddyF5 commented on #152
Fixed in Latest Release

[2019-11-07 08:44] #152 closed

[2019-11-07 08:49] papineni87 commented on #186
Release cadence will be on monthly, however any urgent requirements/fixes needed by anyone we can patch release for those

we faced some test related issues with client ssl profiles and we are working on it.
If anything else needed, please raise a new issue and we can track it and fix it

[2019-11-07 12:16] papineni87 commented on #187
This is the current behaviour in bigip, where when a monitor is attached to a pool and if you want to delete the monitor alone, we have to first detach monitor from pool and then delete the monitor.

So for the terraform also if you want to remove monitors alone, we have to first detach monitors from pool

monitors = [" " ] .  with monitor resource intact in the config file  [ " don't remove monit

[2019-11-07 15:43] claycogg opened #188 "Missing Documentation for SSL Client/Server Profiles"
As was mentioned in the [original PR](https://github.com/terraform-providers/terraform-provider-bigip/pull/134) for SSL Client and Server profiles, this part of the provider is not documented yet.

This is a request for the author or someone knowledgable on the provider to create website documentation, a README or in-line comments explaining how to use this feature.

I am unfamiliar with the F5 ap

[2019-11-07 15:47] dannyk81 commented on #169
@papineni87 I just did a few test:

1) setting `persistence_profiles = []` indeed removes the profile from the VS.

2) the provider still doesn't detect changes done in the F5, for example if I set `persistence_profiles = ["/Common/hash"]` apply and then change in F5 (manually) to `/Common/source_addr` a plan/apply shows that everything is up to date which is incorrect of course.

with (2) I would

[2019-11-07 16:11] stobias123 commented on #187
I understand this is how the bigip works, but this takes away from the declarative ideology of terraform.

Take EIP attachments for example. They make sure to remove the EIP From the ec2 instance before deleting the resource. This hides the complexity from the user and lets the provider do the heavy lifting.

Is this type of thing possible?

https://github.com/terraform-providers/terraform-provide

[2019-11-07 20:38] claycogg commented on #182
I'll close #188 as this is what I was asking for too.

Is it possible to get attribute documentation as well? Or do these resources not report attributes? I am referring to how  the AWS provider documentation documents the exported attributes available to the output.

Example:
https://www.terraform.io/docs/providers/aws/r/db_cluster_snapshot.html

[2019-11-07 20:39] claycogg commented on #188
Duplicate of #182

[2019-11-07 20:39] #188 closed

[2019-11-08 10:44] papineni87 commented on #187
we didn't see any "isinstance" attribute for monitor to track the attachments to it when we did a GET request on monitors, but  we will try any other alternative approach to handle it

[2019-11-08 10:44] papineni87 commented on #166
Issue in fixed in v1.0.0 release, hence closing it

[2019-11-08 10:44] #166 closed

[2019-11-08 19:26] stobias123 commented on #187
I have some ideas on how to implement this, but I'm not sure what version of the upstream go package I should be using...

Development seems to be going on here -> https://github.com/scottdware/go-bigip

But not in the f5devcentral package that's vendored...

Where do contributions to the underlying go sdk need to be made?

[2019-11-08 20:30] dannyk81 commented on #187
f5devcentral go-bigip is the one this project is based on, it was forked a while abck and diverged quite a bit, but it's the place for this provider.

[2019-11-08 21:14] stobias123 commented on #187
any reason not to merge some of the code back from scottdware?  f5devcentral is largely missing any kind of testing and validation.

[2019-11-09 01:50] dannyk81 commented on #187
no argument on that from my end, but I can't really provide the background why it was necessary to fork the original project which is still under active development, surely if some functionality is missing - contributions will be accepted (though we may miss some context).

it is also very difficult to work with this (f5devcentral/go-bigip) fork, issues are not allowed so it's impossible to track/

[2019-11-09 03:11] stobias123 commented on #89
@scshitole - There's some additional functionality I was looking to add to the provider as well, it's unclear where I need to make those contributions

I'm currently a heavy user of the provider (and prospective contributor), I'll echo the sentiment here that the community needs a clear understanding on the underlying SDK so we can extend and contribute where neccessary.

[2019-11-09 03:14] stobias123 opened #190 "Provider Roadmap and clarity on AS3 resources."
Just want to provide some additional comments and centralize discussion regarding as3 resources as mentioned in #89

I think the community needs to understand the intended implementation of as3 resources and how this will impact the provider and management of f5 through terraform in general.

/cc @dannyk81

[2019-11-09 03:16] stobias123 commented on #190
To add some color around my use case...

I've now implemented a workflow based primarily in terraform to manage F5 in our environment.

This relies heavily on the ability to interact with HCL across multiple providers and other infrastructure components.

I have to echo some of the points @dannyk81 is making in #89... While as3 might be a step in the right direction towards declarative config, it

[2019-11-09 07:48] papineni87 commented on #185
BIGIQ supports AS3 and DO and we have already as3 terraform resources and DO in progress.  Maybe can support the target next year as BIGIQ gets more traction. But if it needs on urgent request/priority we can decide on it

[2019-11-12 10:22] papineni87 commented on #190
AS3 is not a replacement for terraform, only the thing is we will develop terraform resources for as3 schema ( indeed it will take time ) , which will cover most of the bigip functionality objects as far as AS3 is supporting.  Until then we will still support/develop individual resources as it is happening now.

Since AS3 is declarative model and is covering all bigip functionality objects, and is

[2019-11-12 10:31] papineni87 commented on #187
[https://github.com/terraform-providers/terraform-provider-bigip/issues/190](url)

[2019-11-12 10:34] papineni87 commented on #187
#190

[2019-11-13 08:48] howsTricks commented on #185
Not necessarily urgent, but definitely highly interested.

[2019-11-21 05:39] RavinderReddyF5 commented on #169
**Issue1** : The resource allows to define a set of persistence profiles, however no way to indicate which one is the default persistence profile, if one profile is defined - it becomes the default, however of multiple profiles were defined - none are set as default.

**Addressed in :**https://github.com/terraform-providers/terraform-provider-bigip/pull/183

**Issue2**:
Profiles can be added and r

[2019-11-21 05:46] RavinderReddyF5 commented on #163
Closing this Issue as fix already available

[2019-11-21 05:46] #163 closed

[2019-11-21 12:03] papineni87 commented on #182
@stobias123:
we have updated terraform docs for ssl client/server profile .
Can you please try validating your scenario with referring from docs below by local binary creation.
https://www.terraform.io/docs/providers/bigip/r/bigip_ltm_profile_client_ssl.html
https://www.terraform.io/docs/providers/bigip/r/bigip_ltm_profile_server_ssl.html

[2019-11-27 00:20] papineni87 commented on #182
This was fixed in the 1.1.0 release. If you are still having a problem with that release, please reopen this issue or file a new one.

[2019-11-27 00:20] #182 closed

[2019-11-27 00:21] papineni87 commented on #176
This was fixed in the 1.1.0 release. If you are still having a problem with that release, please reopen this issue or file a new one.

[2019-11-27 00:21] #176 closed

[2019-11-27 00:50] dannyk81 commented on #182
@papineni87 kind of related, but I still don't see the content of this docs pr https://github.com/terraform-providers/terraform-provider-bigip/pull/88 in the official docs, any idea?

[2019-11-27 01:22] RavinderReddyF5 commented on #182
@dannyk81 Looks it Merged wayback into documentation branch, but anyway we will cross check and reopen/open issue for the same.

[2019-11-27 01:26] RavinderReddyF5 commented on #169
@dannyk81 we have addressed above outlined Issues, Closing this ticket as release is already out. please open new issues for any other issues if you see.

[2019-11-27 01:26] #169 closed

[2019-11-27 01:33] RavinderReddyF5 commented on #186
@stobias123 Fix Available in v1.1.0, please open new issue for any other issues you see.

[2019-11-27 01:33] #186 closed

[2019-11-27 02:52] papineni87 commented on #182
@dannyk81  is this the below docs you are looking for ?https://www.terraform.io/docs/providers/bigip/r/bigip_ltm_pool_attachment.html

correct me if am wrong

[2019-11-27 12:51] dannyk81 commented on #182
the PR I linked has additional information on how to import a pool attachment, I don't see it in the official doc you linked.

this was indeed merged long ago, but for somenreason never made it to the official docs

[2019-11-28 09:35] papineni87 opened #207 "Pool attachment docs is not updated upto date"

[2019-11-28 09:37] papineni87 commented on #207
I still don't see the content of this docs pr #88 in the official docs ( from @dannyk81 )

[2019-11-29 03:33] lpugoy opened #208 "Content argument of `bigip_ssl_key` should be marked sensitive"
The content argument of [bigip_ssl_key](https://github.com/terraform-providers/terraform-provider-bigip/blob/f2df091ad865ed694c57c2c09c6ccf4b2de07562/bigip/resource_bigip_ssl_key.go#L29-L33) should be marked sensitive so that it won't be shown as plain text when running `terraform plan`.

Expected output
[code]

Actual output
[code]

The `password` argument in [aws_db_instance](https://github.com/

[2019-11-29 05:35] RavinderReddyF5 commented on #208
@lpugoy thanks for reporting issues. sure will provide fix for the same as you suggested.

[2019-11-29 07:13] RavinderReddyF5 commented on #208
@lpugoy issue fixed through  https://github.com/terraform-providers/terraform-provider-bigip/commit/39553e00174766307ee4fa31932ad1cccddffdbd

[2019-11-29 07:37] papineni87 commented on #182
@dannyk81 i added the code back with the below pr

https://github.com/terraform-providers/terraform-provider-bigip/pull/210

[2019-12-01 23:56] lpugoy commented on #208
Thanks @RavinderReddyF5 for the speedy resolution. You can close this at your convenience.

[2019-12-02 05:12] #208 closed

[2019-12-03 07:42] RavinderReddyF5 opened #213 "Updating Clientssl profile is failed"
1st terraform apply:
[code]

2nd terraform apply:
[code]

Error:
[code]

[2019-12-06 04:53] TheGr8Wonder opened #218 "bigip_ssl resources not over writing existing cert/key"
Certs deployed for the first time using both bigip_ssl_certificate and bigip_ssl_key work as expected and land in the proper partitions.

When it comes to updating them, say when you need to replace an existing cert with a different revision, without changing the name as to avoid updating SSL Profiles dependencies, the following error is generated:

[code]

In addition to the above, if the cert/ke

[2019-12-06 09:06] RavinderReddyF5 commented on #218
Issue addressed with :https://github.com/terraform-providers/terraform-provider-bigip/pull/219, please let me know if u need any other assistane

[2019-12-06 15:14] TheGr8Wonder commented on #218
@RavinderReddyF5
After compiling the plugin with the proposed fix, the original reported behavior is resolved ONLY if not in use by a client/ssl profile.

New errors:

[code]

[2019-12-07 06:53] #115 closed

[2019-12-09 11:12] RavinderReddyF5 commented on #218
@TheGr8Wonder
Looks BIGIP not allowing Updating Cert/Key Updation when it is in use by client/ssl profile
Noticed below error when doing same.
![image](https://user-images.githubusercontent.com/45624469/70431288-b9a76180-1aa2-11ea-9f7c-9d12d4df77a4.png)

[2019-12-09 22:53] lorinwyatt opened #220 "Terraform crashes when adding new selfips"
When doing a terraform plan for adding new selfips it crashes:
[code]

[2019-12-10 08:39] papineni87 commented on #220
I don't see any crash when i add selfips, can you share the tf files which you are trying to apply it

[2019-12-10 09:02] papineni87 commented on #220
Plan: 4 to add, 0 to change, 0 to destroy.

Do you want to perform these actions?
  Terraform will perform the actions described above.
  Only 'yes' will be accepted to approve.

  Enter a value: yes
............................................................................................
bigip_net_vlan.vlan1: Creating...
bigip_net_vlan.vlan2: Creating...
bigip_net_vlan.vlan1: Creation complete

[2019-12-16 22:07] earchibald-lv commented on #114
I tried setting `state = "user-down"` on the bigip_ltm_node to see if it would affect things.

If I **only** create the node without attaching it to a pool, the node is properly set to disabled.

However, if I specify the node and attach it to a pool, the node ignores the `state` parameter and is up (even though Terraform state shows `state` as `user-down`.)

[2019-12-17 11:53] RavinderReddyF5 commented on #114
@earchibald-lv
we tried same scenario manually and observed below things.

when attaching any **ltm node** to  a **ltm pool**,  bigip will not consider current state of node.

we have to explicitly set node state as shown below snapshot.

![image](https://user-images.githubusercontent.com/45624469/70992491-d3bef080-20ef-11ea-836f-0bcf7cbaeac6.png)

![image](https://user-images.githubusercontent.co

[2019-12-19 16:41] fbeste opened #223 "snatpool is scheduled to be modified when it should be (re-)created"
After a deletion of a SNATPOOL outside of Terraform, a subsequent `terraform apply/plan` shows the pool would be modifies insted of created.

The details:
I created a SNATPOOL and attached that to a VS in Terraform.
After the VS and SNATPOOL get deleted on the device, I would expect Terraform to detect it during refresh and schedule it to be created again (before re-creating the VS) during terrafo

[2020-01-08 16:10] soumik612 opened #224 "Missing "database" entry for PostgreSQL monitor"
I am trying to create a health monitor of type "Postgresql". Using TF, I am able to create one. However, TF plan/apply fails when I assign parameter "database".

My monitor resource looks like this:

resource "bigip_ltm_monitor" "MON_POSTGRESQL_EVAL" {
  name                 = "/Common/MON_POSTGRESQL_EVAL"
  parent                = "/Common/postgresql"
  send                   = "SELECT 'Test';"

[2020-01-08 16:25] soumik612 opened #225 "Feature Request: Add support for Analytics profile"
Can you please add resources for Analytics profile for TCP and HTTP ?

[2020-01-08 16:35] ajchiarello opened #226 "Cannot create bigip_ssl_key or bigip_ssl_certificate"
When attempting to create the ssl_key or certificate resources, I get the following error:

These resources fail even when the account is given full administrator privileges.

Here is the terraform code I am using to create this:

I'm on terraform version 0.12.18 & bigip v 1.1.1

[2020-01-08 20:27] DavidGamba commented on #85
Is there a way to get the releases to have a changelog?

I don't want to have to look at the commits before deciding if I should migrate or not.
Additionally, I don't know if the newer releases are Terraform v0.12.x exclusive.

[2020-01-08 21:08] dannyk81 commented on #85
There is a changelog: https://github.com/terraform-providers/terraform-provider-bigip/blob/master/CHANGELOG.md

and AFAIK, both 0.12 and pre-0.12 terraform is supported, there's a compatibility table in the README https://github.com/terraform-providers/terraform-provider-bigip#f5-bigip-ltm-requirements

[2020-01-09 05:38] RavinderReddyF5 commented on #85
@DavidGamba
as @dannyk81 suggested you can refer links for Changelog.md and supported BIGIP and terraform version metrics provided in repo.

[2020-01-09 07:09] #218 closed

[2020-01-09 07:09] #207 closed

[2020-01-09 07:09] #213 closed

[2020-01-09 08:01] RavinderReddyF5 commented on #226
Hi @ajchiarello
From the errors it looks like Authorization failed for provider, could you please check provider IP,Username,passowrd/token are properly entered.

I was trying to reproduce issue locally but i am able to import certificate/key onto BIGIP.

Logs:

**terraform apply**
[code]

**terraform config:**

[code]

[2020-01-09 12:56] papineni87 commented on #224
database argument is not handled in code, will add that one

[2020-01-09 13:54] DavidGamba commented on #85
Thank you for the responses @dannyk81 and @RavinderReddyF5 , I actually just looked into the releases on Github and didn't look any further. So used to the Github workflow I guess.
Thanks!

[2020-01-09 13:54] #85 closed

[2020-01-09 14:00] ajchiarello commented on #226
I've double-checked the account information several times - and I can use the same credentials to perform this task in the GUI. I also tried giving it a bad username/password to see if I got the same error - which I don't. It looks like the authentication works, but authorization for this task fails. I initially thought it was permission based, but ruled that out when it still failed, even when gr

[2020-01-09 22:03] jakauppila opened #227 "`bigip_as3` resource should validate JSON"
The `bigip_as3` resource should validate the incoming JSON prior to execution to ensure that it is valid.

Such an example can be found here: https://github.com/hashicorp/terraform/pull/11915

[2020-01-10 06:18] GaddamSaketha commented on #224
**Provided the fix**
_Test Results are as below:_
=== RUN   TestAccProvider
--- PASS: TestAccProvider (0.00s)
=== RUN   TestAccBigipAs3_create
--- PASS: TestAccBigipAs3_create (10.89s)
=== RUN   TestAccBigipCmDevice_create
--- PASS: TestAccBigipCmDevice_create (4.21s)
=== RUN   TestAccBigipCmDevice_import
--- PASS: TestAccBigipCmDevice_import (3.73s)
=== RUN   TestAccBigipCmDevicegroup_create
---

[2020-01-10 06:40] papineni87 commented on #224
@soumik612 can you pull the latest code and check the fix ?

[2020-01-10 06:52] #227 closed

[2020-01-10 12:23] RavinderReddyF5 commented on #226
@ajchiarello

Hi
we are not able to reproduce this issue in out local setup, but to debug further on the issue
Can you please help running below python script to upload files to BIGIP and verify it is copied to BIGIP [ **/var/config/rest/downloads** ]

  https://gist.github.com/jasonrahm/40b03b93a5ed9f1fdc8f

[code]

[2020-01-10 15:23] ajchiarello commented on #226
@RavinderReddyF5
The python script ran without error, but the attempt create the resource failed with a no such file or directory error. It looks like the copy itself never occurred.

[2020-01-10 17:45] RavinderReddyF5 commented on #226
@ajchiarello
Do you mean python script not able to copy certificate onto BIGIP[/var/config/rest/downloads] ??
if copy itself fails it should be debug from BIGIP point, it will not fall under under terraform. please confirm.

[2020-01-10 19:44] ajchiarello commented on #226
@RavinderReddyF5
Yes - I believe the problem is in BigIP. It appears to not be accepting the upload. I am pursuing this with my networking team and they are opening a ticket with F5.

[2020-01-11 17:29] RavinderReddyF5 commented on #226
@ajchiarello
Can you please let us know the BIGIP Version you are using?

[2020-01-13 13:40] ajchiarello commented on #226
@RavinderReddyF5
We are running BIG-IP 14.1.0.6.

[2020-01-13 16:24] El-Coder opened #232 "Terraform Destroy Does Not Delete AS3 Tenant"
When I run Terraform Destroy it does not delete tenant from BIG-IP.

****
example.json
[code]

****
Terraform Code
[code]

[2020-01-13 16:55] papineni87 commented on #232
@El-Coder can you clone the latest code which has the fix for above issue

[2020-01-15 01:04] yossi-r opened #234 "Terraform exists when provisioning a module"
terraform exists after posting the following declaration (which provisions ASM) :
{
    "schemaVersion": "1.0.0",
    "class": "Device",
    "async": true,
    "webhook": "https://example.com/myHook",
    "label": "my BIG-IP declaration for declarative onboarding",
    "Common": {
        "class": "Tenant",
        "hostname":  "${hostname}",
        "myNtp": {
            "class": "NTP",

[2020-01-15 14:46] papineni87 commented on #234
can you enable debug logs and give us the error message when applying the plan ( to enable debug logs : export TF_LOG=DEBUG )

[2020-01-15 20:58] erjac77 commented on #65
I'm also interested by this. I think the following resources would be very useful and could be a good starting point:

- GTM WideIP
- GTM Pool
- GTM Server

[2020-01-16 02:29] yossi-r opened #236 "terraform fails when bigip is not ready"
i'm using terraform to deploy a bigip in AWS using, then i want to use the bigip provider to configure the bigip.
the error i'm getting is: Error: BigIP provider requires address, username and password

the problem (as i understand it) is that when terraform apply, it starts with terraform plan which triggers the bigip provider (for a bigip that doesn't exist yet).
for this use case we need the pr

[2020-01-16 06:17] RavinderReddyF5 commented on #236
@yossi-r
Can you please share the terraform config you are using?

[2020-01-16 06:18] RavinderReddyF5 commented on #234
@yossi-r
can you please provide us exact error you are getting.

[2020-01-16 06:21] RavinderReddyF5 commented on #226
@ajchiarello
Have you checked with your network team?? as we are not able to upload certificate/key to BIGIP please work with network team to debug further on why it is not copied.

[2020-01-16 13:40] ajchiarello commented on #226
@RavinderReddyF5
I am pursuing this with my networking team and they are opening a ticket with F5. It may be because I running against an F5 self IP instead of the management ip.

[2020-01-16 21:10] erjac77 commented on #232
@El-Coder
Maybe I'm all wrong, but I think the `config_name` should reflect the Tenant name. In fact, the `config_name` variable was called `tenant_name` in previous versions. In your case, simply replace `sample_test` by `Sample_01` in your resource and you should be fine.

@papineni87
In your PR, you removed the tenant name from the `/declare` endpoint. This means that all tenants will be delete

[2020-01-17 16:53] RavinderReddyF5 commented on #232
@erjac77
```config_name``` used in **bigip_as3** resource doesn't reflect tenant name, it is arbitrary name used for uniquely identify **bigip_as3** resource.

https://www.terraform.io/docs/providers/bigip/r/bigip_as3.html

as per PR #233 , we removed the tenant name which is actually just arbitrary name rather actual tenant name.

may be it is good approach to try to fetch available tenants and d

[2020-01-17 17:21] erjac77 commented on #232
@RavinderReddyF5
Yes I know. But what I meant, is that it used to be the Tenant name. The variable name has recently changed. And removing the name from the `/declare` endpoint will delete all Tenants. Not sure this is a good idea and probably not what the user would want or expect.

Sorry if I was not clear, my english is not very good.

[2020-01-17 19:25] strantalis commented on #232
We submitted this issue #166 and fix #167 so it wouldn't delete all the tenants.

I agree with the two options @erjac77 proposed.

[2020-01-18 03:34] gageorsburn commented on #232
Yeah... I would revert PR #233  immediately. That is a very serious bug. E.g. we discovered the behavior accidentally by running a terraform destroy against a test environment which deleted production rules which caused a traffic outage... The problem is that variable got renamed, or which raises another big problem.. there is no unit test for delete in https://github.com/gageorsburn/terraform-pro

[2020-01-20 05:45] RavinderReddyF5 commented on #232
@erjac77 @strantalis @gageorsburn
thanks for your Solution option proposed. i think it is better to proceed with below option.

"An other option would be to parse the JSON file, retrieve all the Tenants and append them (comma separated) to the /declare endpoint"

[2020-01-20 09:55] RavinderReddyF5 commented on #232
@gageorsburn @erjac77 @strantalis
please pull the latest ```master``` branch code from terraform repo and check.

Updated with required changes as suggested in Option1, and updated document on how to use this resource.
please refer below link for how to use resource.

https://github.com/terraform-providers/terraform-provider-bigip/blob/stable-website/website/docs/r/bigip_as3.html.markdown

[2020-01-21 21:28] jack78901 opened #240 "bigip_ltm_virtual_server stateless option"
Hello,

On the newer versions of the BIG-IP LTM (v14.1.06 +) there is a new Stateless type, that actually turns on a configuration on the backend for a stateless = true.

In a postman call to the API, you can see it actually returns as:
    "stateless": true,

Is there a plan to have Terraform manage this option for the resource bigip_ltm_virtual_server? I would like to make sure that it is enforc

[2020-01-27 19:30] DavidGamba opened #242 "autopopulate not passed to pool attachment"
I have a node defined with the following information:

[code]

It points to an AWS ALB with 2 IPs.

When I attach it to the pool:

[code]

The autopopulate enabled is not set on the member, so it only has 1 _auto_IP.

![image](https://user-images.githubusercontent.com/1115287/73205689-c63d5300-40fe-11ea-81bb-8f12b8290550.png)

If I attach it manually by selecting `FQDN Node List` the FQDN Auto Pop

[2020-01-28 10:04] howsTricks commented on #16
Wanted to check in on this, we use priority groups quite a bit in our setup. Would like to be able to define them in Terraform instead of manually configuring later. Thanks!

[2020-01-29 10:01] papineni87 commented on #242
By default when we attach node to a pool through icontrol rest call , autopopulate will be disabled unless we specify it as enabled. we have to change the code to explicitly add fqdn  structure to rest call when adding node to pool.

**curl request without autopopulate:  ( current behaviour )**

root@terraforn-ubuntu3:~/go/src/github.com/terraform-providers/terraform-provider-bigip# curl -sk -u xx

[2020-01-29 10:15] papineni87 commented on #16
we have this enhancement in our product backlog items, and will fixed up in coming releases

[2020-01-29 11:21] mdditt2000 commented on #240
The terraform provider wont set the stateless state. Can you please share the API call that you are trying so we can verify. Thank you!

Btw for fast access to the BIGIP terraform folks please can you open issues at https://github.com/F5Networks/terraform-provider-bigip/issues

[2020-01-29 18:02] tbosnjak-ops commented on #226
Hi all,

I'm receiving the following message:

`Error: Error in Importing certificate key (/Common/cca_50_chars_long_name.key): HTTP 400 :: {"code":400,"message":"Failed! exit_code (37).\n","errorStack":[],"apiError":26214401}`

this my code:

`provider "bigip" {
  address  = "--------------"
  username = "-------------"
  password = "---------"
}

resource "bigip_ssl_key" "server_ssl_key" {
  par

[2020-01-29 18:04] DavidGamba commented on #242
@papineni87 thanks for getting back to me. Is there a similar way to also set a `Member Specific` monitor during attachment. That would really help too.

[2020-01-30 11:59] RavinderReddyF5 commented on #226
Hi @tbosnjak-ops

Can you please try using below python script as mentioned in other comments and let me know the behaviour.

[2020-01-31 09:57] tbosnjak-ops commented on #226
Hi Ravinder,

thank you for trying to help.

We figured it out. The issue was '/Common/' in the name. This happend since we wanted to use the same variable for the name and the cert in ssl_proifles. :(

Sorry for the pollution of the thread.

BR,
T

[2020-01-31 10:00] RavinderReddyF5 commented on #226
@tbosnjak-ops thanks for Update
 @ajchiarello
i am closing this issue, if you see any new issue please open separate bug.
Thanks

[2020-01-31 10:00] #226 closed

[2020-02-12 20:56] amolari commented on #236
got the same. Found this: https://github.com/hashicorp/terraform/issues/2430. Looks rather to be a Terraform issue. I haven't found a workaround (except run terraform twice, once for the aws resources creation, then for the bigip resources).

[2020-02-12 21:24] amolari opened #243 "Error while Sending/Posting http request with DO json :{"code":404"
Launching a bigip-do, when my AWS instance is running (DO ready), I get this error:
[code]

That happens after the licensing, which restarts the services on the bigip.
The bigip gets licensed/configured as expected.

Terraform v0.12.17
+ provider.aws v2.41.0
+ provider.bigip v1.1.1

[2020-02-13 09:28] papineni87 commented on #243
@amolari What other config you are trying in DO json apart from license ? Can you paste the DO json which you have tried to configure ?

[2020-02-13 13:59] amolari commented on #243
@papineni87 basic configuration, which gets configured properly.
[code]

[2020-02-14 00:54] scshitole opened #244 "Looks like provisioner resource in sys.go is not complete"
Provisioner resource does not have all the functions in sys.go, for example only "afm" is included in the modify function, rest of the types like asm, ilx , apm does not have modify function.

https://github.com/terraform-providers/terraform-provider-bigip/blob/f254e521138c3d93462e98982d6982a8d89928f2/vendor/github.com/f5devcentral/go-bigip/sys.go#L549

[2020-02-15 05:33] RavinderReddyF5 commented on #244
@scshitole
Hi Sanjay, change is provided into "devbranch-sysprovision", please let me know if anything needed.

https://github.com/terraform-providers/terraform-provider-bigip/tree/devbranch-sysprovision

[2020-02-17 13:55] ajchiarello opened #246 "Cannot create bigip_ssl_key or bigip_ssl_certificate with LDAP account"
I originally posted this issue in #226 - since then, we have determined that the problem is that it does not work when using an LDAP account, only a local account. We opened a ticket with F5, and they said that this is because the 'Content-Range' header is not being set - in their example, the header was set to 'Content-Range: 1-1184/1184'. Can you confirm whether ssl resources should be working w

[2020-02-17 21:33] scshitole opened #247 "Is it possible at this time to use count with the BIG-IP provider? or modules?"
This is the only way to manage multiple BIG-IPs with ease.. Using alias or any other workarounds is simply not sufficient.

[2020-02-18 01:41] dannyk81 commented on #247
count is not available/possible for provider block.

modules are expected to support both count and the new for_each attributes, not sure when that will happen, you can track the progress here: https://github.com/hashicorp/terraform/issues/17519

[2020-02-18 09:20] papineni87 commented on #243
Just to make sure is DO RPM installed in bigip ? because "URI Path: /mgmt/shared/declarative-onboarding not registered" message is observed when DO RPM is not installed in bigip.

[2020-02-18 09:49] amolari commented on #243
As indicated, the device gets properly licensed and configured by the DO call (Terraform), so the DO RPM is properly installed. I think it's when the device restarts its services, the rest api goes through various states until it's fully operational, and the Terraform resource config just give up on Error: Error while Sending/Posting http request with DO json :{"code":404. If it would retry a few

[2020-02-18 09:59] papineni87 commented on #243
Can you give us the restnoded failure log at /var/log/restnoded/restnoded.log  in bigip (this is where DO records error messages)

[2020-02-18 10:58] RavinderReddyF5 commented on #246
@ajchiarello
we are setting 'Content-Range' header when we copying certificate/key on to BIGIP,

please find Header Request for same:
[code]

[2020-02-18 13:39] ajchiarello commented on #246
Thanks @RavinderReddyF5 - can you confirm whether LDAP accounts should work when creating these resources?

[2020-02-18 14:15] amolari commented on #243
Here the log.
[restnoded.log](https://github.com/terraform-providers/terraform-provider-bigip/files/4219628/restnoded.log)

On the terraform side:
[code]
  on bigip-do/main.tf line 46, in resource "bigip_do" "do-example":
  46: resource "bigip_do" "do-example" {

Deployment is 1-NIC, so the tmm restart (twice during the DO onboarding) brings the management interface down.

[2020-02-19 10:14] RavinderReddyF5 commented on #246
@ajchiarello

Are you talking user authentication is enabled for LDAP instead local as shown in snapshot?

![image](https://user-images.githubusercontent.com/45624469/74824589-68cba900-532e-11ea-95e2-2e2b28a9e1fc.png)

If your answer is yes, we didnot have support for it. i am looking into details how much effort it would require

[2020-02-19 10:23] RavinderReddyF5 commented on #246
@ajchiarello
I also tried created dummy LDAP authentication as shown in below

![image](https://user-images.githubusercontent.com/45624469/74825373-d1ffec00-532f-11ea-9a7e-85ee6107ffdf.png)

but i didnot see any issue, i am able to copy certificate, can you please what is configuration set by you for ldap authentication.?

[2020-02-25 04:31] gpanepintotyro commented on #185
I'm very interested as well in the BIGIQ support. Any ETA?

[2020-02-25 13:14] ajchiarello commented on #246
@RavinderReddyF5 Here is our config:
![image001](https://user-images.githubusercontent.com/50917524/75250658-cf294f00-57a6-11ea-91d0-71e453ccdd9e.png)

[2020-02-25 19:51] wwftw opened #248 "Unable to modify/update data group"
I don't know what prompted this change https://github.com/terraform-providers/terraform-provider-bigip/commit/ae9c44d9800d57356356349367ed5300c368034e but it appears to break updates to data group resource.

Error I'm getting:
[code]

[2020-02-25 20:05] dannyk81 commented on #248
https://github.com/terraform-providers/terraform-provider-bigip/pull/184

[2020-02-25 20:06] dannyk81 commented on #248
the fix was also tested on several version of BigIP and worked fine https://github.com/terraform-providers/terraform-provider-bigip/issues/180

what version do you have on your BigIP?

[2020-02-25 20:13] wwftw commented on #248
BIG-IP 13.0.0 Build 3.0.1679 Hotfix HF3

[2020-02-25 20:19] wwftw commented on #248
It looks like a non-passive change in BIG-IP 14?

[2020-02-26 01:45] dannyk81 commented on #248
I was only able to test it on 12.x.x and 14.x.x and it worked on both...

[2020-02-26 14:15] papineni87 commented on #248
I am able to see the issue on big 13.x.x

[2020-02-26 14:19] dannyk81 commented on #248
Looks like this API is very unstable on BigIP end and changes radically in behaviour between major versions...

@papineni87 is there a middle ground here that would work on all 3 supported majorversions?

[2020-02-26 16:33] papineni87 commented on #248
To port that REST API fix in bigip 13.x.x , customer SR should be raised  so that it will work in all major versions.  Another quick approach is cut new terraform provider minor release( 1.1.2 ) specific to big 13.x.x with old code and update in Read me, so that people can use that specific release for this particular issue ( Just a thought )

[2020-02-26 16:48] dannyk81 commented on #248
this is possible... but I would encourage against as you'll have to maintain two version trees and update both with any future change you introduce, otherwise it'll become stale.

we could perhaps retrieve the BigIP version in the Read and apply a different method based on the device version.

[2020-02-27 07:23] papineni87 commented on #248
Yes, that makes sense only if it is just for this single rest API but it will be difficult to handle all the differences between various bigip versions.

@wwftw is it possible for you to upgrade bigip from 13.x.x to 14.x.x ? so that current code works for datagroups and you will be having new features in 14.x.x .

[2020-02-28 16:10] wwftw commented on #248
It would be good if this update function could handle different versions of BigIP API and passively handle the operation.

@papineni87 Unfortunately, it may take a while for us to get all of our instances to 14.x.x, we are still running BigIP 12.x.x in production (some instances on 11.x.x), we found the issue in development environment which is running 13.x.x

[2020-02-28 20:46] jakauppila commented on #232
We were planning to start utilizing the provider to manage our F5 appliances with the `bigip_as3` resource, but commits like https://github.com/terraform-providers/terraform-provider-bigip/pull/233/commits/43eec995cc1118398076f333f5481e391d9e6f4a raises cause for concern towards the level of extreme caution we would have to take both in its operation and upgrades.

[2020-02-29 12:44] papineni87 commented on #232
@jakauppila we had reverted the above mentioned commit in master branch, and we are trying for new release with new design and also set of testcases for new features along with their results to avoid above kind of issues.

[2020-02-29 13:13] papineni87 commented on #248
@wwftw That makes sense, we will try to check the bigip version in code and make respective function call

[2020-03-09 20:38] jakauppila opened #253 "`bigip_as3` Read/Exists/Update actions should be restricted to target tenant"
Currently within the `bigip_as3` resource, the `resourceBigipAs3Read`, `resourceBigipAs3Exists`, and `resourceBigipAs3Update` actions all target `url := client_bigip.Host + "/mgmt/shared/appsvcs/declare"` when they should probably target the desired tenant.
[code]
This should trim down the response body to only the tenant that is being modified.

While it's not an issue right now, with how we're p

[2020-03-09 21:37] jakauppila opened #254 "`bigip_as3` resource `resourceBigipAs3Read` action does not store actual value in state"
It doesn't appear that the `resourceBigipAs3Read` function is currently detecting and writing the actual current AS3 declaration into state.

According to https://www.terraform.io/docs/extend/best-practices/detecting-drift.html it looks like it should be setting `d.Set("as3_json", <filtered as3 declaration from http request>)`

As I've been utilizing the resource, I've had scenarios where I had is

[2020-03-10 16:55] papineni87 commented on #254
Thanks @jakauppila for looking into it, yes read function should be modified and take the as3 json from bigip and update the state.

[2020-03-12 08:15] revog opened #255 "Terraform crash when creating SSL certificate resources on F5 BIG-IP"
### Terraform Version
Terraform v0.12.19
+ provider.bigip v1.1.1

### Terraform Configuration Files
[code]

### Debug Output
[code]

[terraform plan on GitHub Gist](https://gist.github.com/revog/3d1319385a4235d823d55a85422b0dd4#file-terraform-plan-output)
[terraform apply output on GitHub Gist](https://gist.github.com/revog/3d1319385a4235d823d55a85422b0dd4#file-terraform-apply-trace-output)

### C

[2020-03-16 12:43] ajchiarello commented on #246
@RavinderReddyF5 Were you able to replicate the issue with the configuration screenshot I provided?

[2020-03-16 15:55] RavinderReddyF5 commented on #246
@ajchiarello I am not able to reproduce this issue in my local setup, is it possible to share setup? hope u have tried same using python script which i have shared earlier.

[2020-03-17 10:53] RavinderReddyF5 commented on #255
@revog  please use partition name without `/` , for getting certificate we are creating name like ``` ~ + partition + ~ + name ```

[2020-03-17 17:22] RavinderReddyF5 commented on #255
@revog respective validation is added in :https://github.com/terraform-providers/terraform-provider-bigip/pull/258

[2020-03-17 17:50] mayurikini opened #260 "Need help: Attach a node to a pool, where the node is already a member of a different pool"
How to add node attachment to a pool when the node is also a member of a different pool.
My current usecase is as follows:

2 environments (say A and B) are placed in same big_ip, dependency tree:
[code]
_(S --> T, indicates S is dependent on T)_
After applying above to env A changes gets applied as expected.
When I try to apply above for env B, I get the following error:
[code]
I thought of impor

[2020-03-18 10:08] revog commented on #255
@RavinderReddyF5  Great! Thanks for this information, indeed it does work now as expected :-)!

[2020-03-18 10:08] #255 closed

[2020-03-19 09:43] papineni87 commented on #254
@jakauppila fixed in the latest release v1.1.2, can you try it now ?

[2020-03-19 09:44] papineni87 commented on #248
Fixed in latest release v1.1.2, @wwftw can you try it now

[2020-03-19 09:45] papineni87 commented on #244
Fixed in latest release @scshitole can you check it now

[2020-03-19 09:46] papineni87 commented on #232
Fixed in latest release v1.1.2

[2020-03-19 16:57] wwftw commented on #248
@papineni87 I was able to test provider v1.1.2 on BigIP version 13.0.0, it works now!

Assuming this also works for BigIP 12 since looks like the non-passive change was introduced by BigIP 14.

[2020-03-19 17:02] papineni87 commented on #248
Yes, i tested it on bigip 12 and it works

[2020-03-19 17:39] davidroberts63 commented on #119
Same here. Any updates?

[2020-03-23 16:29] #260 closed

[2020-03-25 12:01] ajchiarello commented on #246
@RavinderReddyF5 We've moved to using RADIUS authentication, and that is working fine - we just didn't have any more time to troubleshoot the openLDAP authentication issues.

[2020-03-25 20:13] jakauppila commented on #254
@papineni87 So it does appear to somewhat work, but it introduces another problem because #253 is not addressed. When the resource performs the read at https://github.com/terraform-providers/terraform-provider-bigip/blob/master/bigip/resource_bigip_as3.go#L87 without restricting it to the particular tenant, it pulls back ALL AS3 declarations on the appliance and stores it in the statefile. This sh

[2020-03-25 20:17] jakauppila opened #267 "v1.1.2 changed the contract of the `bigip_as3` resource"
With the release of v1.1.2  the `bigip_as3` resource had the `config_name` attribute named to `tenant_name` breaking existing configurations.

While I don't disagree with the change, this is not something I would expect to have been done in a patch release, but rather went through the appropriate motions as described in [Hashicorp's  Deprecations, Removals and Renames best practices](https://www.t

[2020-03-26 15:22] focrensh commented on #185
@howsTricks , do you have example workflows which you would like to perform against BIG-IQ with TF? Are you looking at importing the BIG-IP in, etc?

[2020-03-26 16:11] focrensh commented on #254
Tracking with TER-279

[2020-03-26 18:55] joeyrizza commented on #185
interested as well

[2020-03-27 15:20] rabru commented on #236
I got the same issue as well. Can you please fix it, since it is quite common do deploy the VM and do the DO directly in the same deployment. I use it in GCP:

[code]

[2020-03-27 17:28] papineni87 commented on #267
@jakauppila sure, will follow hashicorp best practices

[2020-03-27 17:29] #248 closed

[2020-04-02 18:03] papineni87 commented on #119
@davidroberts63 This might be fixed in last merge request. Can you clone the latest code and try it ?

[2020-04-07 07:18] lukasz-krysman opened #275 "Support for priority group for the node"
Hi,
Will you support priority groups for the nodes in the pool in the future?
How to achieve in other way than this active/passive loadbalancing?
BR,
Lukasz

[2020-04-07 13:58] focrensh commented on #236
The issue @amolari mentioned above does follow this same pattern. In summary, it's providers being dependent on objects from other providers. There is no "depends_on" logic built into the providers themselves.

[2020-04-07 14:37] focrensh commented on #275
You can currently achieve this by using the AS3 resource (declarative API). In summary, you will create a declaration that defines your config. You pass that payload to the AS3 resource and then AS3 provisions the BIG-IP.

https://www.terraform.io/docs/providers/bigip/r/bigip_as3.html

Here is an example of an app with a pool.

[code]

[2020-04-07 14:42] focrensh commented on #253
Tracking with TER-279

[2020-04-07 14:48] focrensh commented on #247
Closing as the issue @dannyk81 mentioned covers the upstream concern.

[2020-04-07 14:49] #247 closed

[2020-04-07 14:53] focrensh commented on #246
@ajchiarello Thank you for the info. If you need further investigation on this please include the example config file you are using and reopen the issue.

[2020-04-07 14:53] #246 closed

[2020-04-07 14:56] #244 closed

[2020-04-07 15:17] focrensh commented on #243
Thanks for the @amolari . You are correct that the resource needs to handle the many states BIG-IP enters when provisioning modules and restarting services.

Tracking with TER-275

[2020-04-07 15:39] focrensh commented on #253
Ideally the update/exists/read should be limited to the Tenants that were within the declaration itself. They should not need to be specified by the user as they are within the declaration.

[2020-04-07 15:52] jakauppila commented on #253
I suppose I hadn't considered that someone may hold multiple tenants within a single declaration; seems counter intuitive to what AS3 is aiming to achieve.

That being said, what value does the `tenant_name` property hold if not being used to scope the REST API calls?

[2020-04-07 15:58] focrensh commented on #253
AS3 is declarative for the entire config, but with the updateMode to selective(default) it only updates the current Tenants specified in the current declaration.

You are correct it is being used for Scope currently. The declaration itself could be auto-populated based on the original Declaration.

- Apply: T1, T2
- Destroy: (Since T1 and T2 were in original declaration, it knows to only Delete th

[2020-04-07 16:22] jakauppila commented on #253
Right; so it's some of those core design decision that raises some concerns for me about AS3 in the Enterprise since it's just a couple characters away from someone to change that updateMode to `complete` or to execute a DELETE against the `/mgmt/shared/appsvcs/declare` while accidentally omitting a tenant.

To clarify/scope things appropriately, would there be value in creating a new `bigip_as3_t

[2020-04-08 13:26] writemike commented on #232
Just an FYI in case anyone else hits an issue similar to this one:
As I was testing the example provided above, I noticed that if the tenant name contains a dash, you can apply the AS3 declaration, but not destroy it. So before you think of blaming terraform-providers/terraform-provider-bigip have a look at: https://github.com/F5Networks/f5-appsvcs-extension/issues/247

"AS3 3.17.0 and later allow

[2020-04-14 18:45] stobias123 opened #277 "Terraform plan doesn't match apply"
Given a scenario where a `ltm_node` _already_ exists called `node1` and I have a file that creates a new file as shown....

[code]

The plan will show success and 1 node to add.

When I run the apply, I get a failure and partial resource creation.
[code]
Why does my plan not fail showing the resource already exists?

[2020-04-15 02:47] dkulchinsky commented on #277
plan checks diff between state and configuration (your tf files), if the node you just added in your terraform config already exist on the device you will get the above error and this is expected.

to reconcile the this, you should import the resource from the device to the terraform state (using `terraform import` command)

[2020-04-16 15:47] #277 closed

[2020-04-23 12:00] soumik612 commented on #99
Hello @hoffmanntravis , the issue I reported still persists if I want to change the certificates.

Also, I notices, the provider stored the key passphrase in clear text, which is not secure.
Is there any other way we can ensure the passphrase is not stored in clear text in the state file ?

[2020-04-23 15:53] strantalis commented on #254
I noticed this issue to posting the bad state into the state file. My issue is when as3 returns 503 the provider doesn't retry so we get the out of sync state.

If we upgrade to 1.1.2 even though it pulls all the as3 declarations back into the state file it will just cause the as3 declaration defined in terraform resource to be applied right? It won't mess with the other declarations applied outsi

[2020-04-23 16:41] focrensh commented on #254
The updates coming are locking down the state terraform tracks to only Tenants that it created.

[2020-04-23 16:59] strantalis commented on #254
Understood.  I guess what I am asking is it safe to use version 1.1.2 until those updates are released. Trying to understand current impact in 1.1.2 if it adds all as3 declarations to state file.

[2020-04-24 00:20] hashibot[bot] opened #278 "big_ltm_virtual_server does not work with IPv6 address"
_This issue was originally opened by @zx1986 as hashicorp/terraform#24747. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files
[code]

### Debug Output

### Crash Output

[code]

### Expected Behavior
Cr

[2020-04-25 09:07] hoffmanntravis commented on #99
@soumik612
Thanks for the detailed information.  This should be coming up on our backlog soon, probably within a month I would guess.  I'm thinking next sprint.  I'll update when I have more information.  I'll also take a look at the state file.

[2020-04-27 01:40] zx1986 commented on #278
sad ..... it's 2020 now, and no IPv6 support ....

[2020-04-27 22:37] georambo commented on #242
Hi, any update on this issue, was this ever merged?  I've tried the following fqdn block, and it is not setting the autopopulate flag as enabled.

 * provider.bigip: version = "~> 1.1"

[code]

[2020-04-28 10:30] zx1986 commented on #278
https://github.com/terraform-providers/terraform-provider-bigip/blob/master/bigip/resource_bigip_ltm_virtual_server.go#L75

no IPv6 support on 2020 !?

[2020-04-28 14:41] focrensh commented on #242
Tracking with TER-308 Internally.

[2020-04-28 14:45] focrensh commented on #278
IPv6 is possible through the AS3 resource currently. I would recommend utilizing this when possible as it has a declarative app/service approach vs per object.

Tracking this via TER-309 internally.

[2020-04-28 14:46] focrensh commented on #275
Please open a new issue if this approach is not working for you.

[2020-04-28 14:46] #275 closed

[2020-04-28 14:50] focrensh commented on #240
If this is still needed. Please open a new issue on the repository above. Thanks

[2020-04-28 14:50] #240 closed

[2020-04-28 14:54] focrensh commented on #185
Please open new issues with specific features you would like supported within BIG-IQ itself that are around infra mgmt and not config mgmt. BIG-IQ support will be too large for 1 issue. We are adding functionality for licensing BIG-IP through BIG-IQ license manager very soon.

[2020-04-28 14:57] focrensh commented on #234
@yossi-r I believe this is a duplicate of #243

[2020-04-28 14:57] #234 closed

[2020-04-28 15:01] focrensh commented on #162
Async behavior will be default and supported in the next release of BIG-IP provider.

[2020-04-28 15:01] #162 closed

[2020-04-29 07:40] soumik612 commented on #224
@papineni87 : Has this fix been pushed to the official TF provider as well ?

[2020-04-29 07:57] papineni87 commented on #224
Yes

[2020-04-29 08:40] soumik612 commented on #224
@papineni87 ,
Thanks. It works fine if I use this provider.
However, fails when I use the official Terraform F5 provider.
Any idea when HashiCorp will push this in the official repo ?

![image](https://user-images.githubusercontent.com/35273569/80576613-ca328700-8a05-11ea-967b-9f4b13ce5fa7.png)

[2020-04-29 09:02] soumik612 opened #279 "Provider shows passwords in clear text when issuing terraform plan."
While testing the client_ssl profile and postgre_sql monitor, I came across an issue where in the ssl key and the postgresql passwords are displayed in clear text.

E.g. This is how my PostGRESQL monitor looks like:
![image](https://user-images.githubusercontent.com/35273569/80578093-43cb7480-8a08-11ea-8a87-f7b9533261d4.png)

Once the resource has been applied on the F5, the associated state looks

[2020-04-29 15:50] RavinderReddyF5 commented on #224
@soumik612

I Just verified with Hashicorp release binary (v1.1.2) about issue, but looks fix is available in same. could please cross verify on the release version as below highlighted lines

HYD-ML-00064448:terraform-provider-bigip-1.12 chinthalapalli$ terraform apply
2020/04/29 21:03:49 [INFO] Terraform version: 0.12.12
2020/04/29 21:03:49 [INFO] Go runtime version: go1.12.9
2020/04/29 21:03:49

[2020-04-29 16:05] Random6554 opened #280 "resource_bigip_command.go missing from latest release"
Hey!

The documentation has been added to support resource_bigip_command.go however the code is not included in the latest release. Is this intentional?

[2020-04-29 16:14] RavinderReddyF5 commented on #280
@Random6554
Thanks for bringing this issue for notice, this resource support is getting added in coming up release, documentation is also intended for next release , but as terraform.io updates documentation directly from terraform provider repo `stable-website` branch, it reflected same.

[2020-04-29 16:17] Random6554 commented on #280
Cool, I have added locally so I can start using it, awesome work with this btw and thanks for a quick response.

[2020-04-29 16:17] #280 closed

[2020-04-29 16:41] papineni87 commented on #279
we can add sensitive tag to password attribute, so that it won't show it as clear text, but i am not sure about the diff in password even though there is no change in it

[2020-05-06 17:00] zx1986 commented on #278
I try to use the AS3 module and it keep get:

[code]

But the same json content run with Postman works fine.

Is it the https/http problem when AS3 module connect to BigIP F5 server?
The self-signed SSL problem?

When I using another bigip module, it works fine ...
create node, create pool, create virtual server with out IPv6 address ....

And AS3 ... totally failed.

[2020-05-06 17:06] RavinderReddyF5 commented on #278
@zx1986
Is it possible to share as3 json u have used?

[2020-05-06 17:08] zx1986 commented on #278
@RavinderReddyF5

[code]

[2020-05-06 17:20] RavinderReddyF5 commented on #278
@zx1986
i tried same config using postman client but failed with

{
    "code": 422,
    "errors": [
        "/sample_ipv6/tf_vs_super_kubernetes/serviceMain/virtualAddresses/1: should match format \"f5ip\""
    ],
    "declarationFullId": "",
    "message": "declaration is invalid"
}

[2020-05-06 17:31] papineni87 commented on #278
https://github.com/F5Networks/terraform-provider-bigip/pull/68  -- this  has ipv6 support for virtual server and node. This pull request will be merged in this repo as well, and by the way as3 resource should also work

[2020-05-07 00:42] zx1986 commented on #278
The IPv6 addresses I post just an example:
`"virtualAddresses": ["1111:2222:3333:4444:1111:1111:1111:1111","1111:2222:1001:11111:1111:1111:1111:1111"]`

Maybe you could try with:
`"virtualAddresses": ["2001:0db8:85a3:0000:0000:8a2e:0370:7334", "2001:0db8:85a3:0000:0000:8a2e:0370:7335"]`

[2020-05-07 00:45] zx1986 commented on #278
@papineni87 oh! thank you!
Maybe I should try to use the `F5Networks/terraform-provider-bigip` provider instead the official one.

AS3 is not the Terraform way at all.

[2020-05-07 02:59] zx1986 commented on #254
resourceBigipAs3Read may have a problem on:
`GET https://{{host}}/mgmt/shared/appsvcs/declare`

I test on postman, the GET return status 204, not 200.
but in the source code:
https://github.com/terraform-providers/terraform-provider-bigip/blob/15bdcd75ed73079d2b51b9821e914519154ea45e/bigip/resource_bigip_as3.go#L104

......

I always failed with `Error while Sending/fetching http request :  <nil>`

[2020-05-07 03:01] zx1986 commented on #278
the AS3 not work because `resouceBigipAs3Read` failed ....
refs: https://github.com/terraform-providers/terraform-provider-bigip/issues/254#issuecomment-625000931

[2020-05-07 06:30] RavinderReddyF5 commented on #278
@zx1986
As AS3 is the primary API for BIG-IP going forward, we are working stabilize more on as3 resource. and we also provided fix for #278

Fixes for Issues #278 and #254 will be available with terraform bigip provider v1.2.0 which will be available for public by May11th.

[2020-05-07 06:45] RavinderReddyF5 commented on #278
@zx1986
As i mentioned in previous comment this issue #254 fixes available in https://github.com/F5Networks/terraform-provider-bigip master branch

Verified issue not seen by building image locally and running. these changes will be available in upcoming release as planned by next week. you can always reach us for any issues you are seeing with provider, we are always help you.
please reach us wit

[2020-05-07 14:44] focrensh commented on #254
Thanks for the info @zx1986 . This is part of what is being fixed in the upcoming release.

[2020-05-08 14:53] johnnywilkes opened #289 "Add 'Save Sys Config' to F5 Terraform"
F5 config changes via TMSH or API don't automatically save to the "saved" (startup) configuration file.  There is a command that needs to be run to do so: "tmsh save sys config."  If this isn't run, then the startup and saved configuration will vary and on a reboot the changes to the running configuration will be lost.

Would it be possible to add a feature to do the API equivalent of a "tmsh save

[2020-05-08 14:55] ajchiarello opened #290 "Changing IP on bigip_ltm_node fails"
In my terraform script, I am creating several bigip_ltm_node resources, and attaching them to a bigip_ltm_pool. Upon initial creation this works fine - but it throws an error if the IP address on one of my nodes changes. Terraform correctly sees the IP change, and moves to recreate the bigip_ltm_node resource, but the F5 throws an error because the node is a part of the pool.

Is there a way to ha

[2020-05-08 15:04] papineni87 commented on #289
there is terraform resource "bigip_command" to run any tmsh commands. we can include this resource in terraform configuration file to run the command at the end of configuration.

resource "bigip_command" "test-command" {
  commands   = ["show sys version"]
}

#create ltm node
resource "bigip_command" "test-command" {
  commands   = ["create ltm node 10.10.10.70"]
}

# Destroy ltm node

resource "

[2020-05-08 15:10] johnnywilkes commented on #289
@papineni87 , thank you for your feedback.  Is there any easy way to make sure that is only once when all objects are created/destroyed?  Also, with the bigip_command is there a way to interpolate the partition?

[2020-05-10 14:26] zx1986 commented on #278
look forward for 5/11

[2020-05-11 13:48] papineni87 commented on #289
I think there is  Automation toolchain (AS3, DO) resources which are declaratively way of configuring bigip and will also trigger config save at the end.

Also below tmsh command will save config to particular partition which can be included in the bigip_command resource

tmsh save sys config partitions {<name>}
“tmsh save sys config” does all parititions by default

[2020-05-12 16:06] RavinderReddyF5 commented on #278
please verify with v1.2.0, open new issue if u see any issues

[2020-05-12 16:06] #278 closed

[2020-05-12 16:07] RavinderReddyF5 commented on #267
Fixed in v1.2.0

[2020-05-12 16:07] #267 closed

[2020-05-12 16:07] RavinderReddyF5 commented on #253
Fixed in v1.2.0

[2020-05-12 16:07] #253 closed

[2020-05-12 16:08] RavinderReddyF5 commented on #254
Fixed in v1.2.0

[2020-05-12 16:08] #254 closed

[2020-05-12 16:08] RavinderReddyF5 commented on #243
Fixed in v1.2.0

[2020-05-12 16:08] #243 closed

[2020-05-12 16:08] RavinderReddyF5 commented on #242
Fixed in v1.2.0

[2020-05-12 16:08] #242 closed

[2020-05-14 13:02] strantalis commented on #254
I just ran a plan with v1.2.0 and it shows that it will be removing all other tenants still even though the as3 that is being posted has a single tenant. I also tried using tenant_filter but still same result.

[2020-05-14 13:11] RavinderReddyF5 commented on #254
@strantalis can u please share logs...we did validated scenarios around this...it should not delete all tenants

[2020-05-14 13:21] RavinderReddyF5 commented on #254
@strantalis
I Just Verified with One tenant configured using Postman client and another with Terraform, it only Deletes terraform configured One.

[code]

[2020-05-14 14:21] #224 closed

[2020-05-14 15:18] strantalis commented on #254
I can open a support case and upload them there if you want?

[2020-05-14 18:09] papineni87 commented on #254
Yes

[2020-05-14 19:05] strantalis commented on #254
Here is case **C3279127**.

[2020-05-14 19:59] andrescolodrero opened #291 "Terraforn apply crash with bigip_as3 and F5 VE 15"
HI,
is it unsuported for F5 VE 15?
data "template_file" "init" {
  template = "${file("test.json")}"
}
resource "bigip_as3"  "as3-example" {
     as3_json = data.template_file.init.rendered
}

[code]

And im having this crash:

2020/05/14 14:49:52 [WARN] Provider "registry.terraform.io/-/bigip" produced an invalid plan for bigip_as3.as3-example, but we are tolerating it because it is using the leg

[2020-05-14 20:00] andrescolodrero commented on #291
`2020/05/14 14:49:42 [INFO] Terraform version: 0.12.24
2020/05/14 14:49:42 [INFO] Go runtime version: go1.12.13
2020/05/14 14:49:42 [INFO] CLI args: []string{"C:\\ProgramData\\chocolatey\\lib\\terraform\\tools\\terraform.exe", "apply"}
2020/05/14 14:49:42 [DEBUG] Attempting to open CLI config file: C:\Users\x-ou-andres\AppData\Roaming\terraform.rc
2020/05/14 14:49:42 [DEBUG] File doesn't exist, bu

[2020-05-15 00:38] RavinderReddyF5 commented on #291
@andrescolodrero
Can you please verify is AS3 RPM installed on BIGIP?? from the Error it looks when we try to get AS3 version it is returned Nil value.
Please confirm

[code]
we are tracking TER-344 for handling this Error Condition Scenario.

[2020-05-15 16:00] andrescolodrero commented on #291
@RavinderReddyF5  Yes, the rpm is installed.

i attached a new log. terraform apply fail after 6 minutes running. A warning messages is logging that the provider generated an invalid plan
"2020-05-15T15:30:20.4782002Z 2020/05/15 15:30:20 [WARN] Provider "registry.terraform.io/-/bigip" produced an invalid plan for bigip_as3.as3-example, but we are tolerating it because it is using the legacy plugin

[2020-05-15 16:01] andrescolodrero commented on #291
2020-05-15T15:30:10.0797307Z ##[section]Starting: Terraform apply as3
2020-05-15T15:30:10.0878178Z ==============================================================================
2020-05-15T15:30:10.0878261Z Task         : Run Terraform
2020-05-15T15:30:10.0878325Z Description  : Run a Terraform on the build agent
2020-05-15T15:30:10.0878371Z Version      : 2.4.0
2020-05-15T15:30:10.0878415Z Author

[2020-05-15 16:19] RavinderReddyF5 commented on #291
@andrescolodrero
Previous Problem and present problem is different.

[code]

Looks we have not received any error response from BIGIP for 6 mins, is it possible to share configuration which you are trying to use?

[2020-05-15 16:24] RavinderReddyF5 commented on #291
@andrescolodrero
you can use Slack Channel :https://github.com/terraform-providers/terraform-provider-bigip#community-help

[2020-05-15 16:27] papineni87 commented on #291
Looks like timeout because of save config

2020-05-15T15:37:05.3549914Z 2020-05-15T15:37:05.354Z [DEBUG] plugin.terraform-provider-bigip_v1.2.0_x4.exe: 2020/05/15 15:37:05 [ERROR] : HTTP 500 :: failed to save BIG-IP config (connection to http://admin:XXXXXX@localhost:8100/mgmt/tm/task/sys/config create task save sys config timed out) for tenant

[2020-05-15 16:43] andrescolodrero commented on #291
HI,
@RavinderReddyF5

It is the basic template:

`{
    "class": "AS3",
    "action": "deploy",
    "persist": true,
    "declaration": {
        "class": "ADC",
        "schemaVersion": "3.0.0",
        "id": "urn:uuid:33045210-3ab8-4636-9b2a-c98d22ab915d",
        "label": "Sample 1",
        "remark": "Simple HTTP application with RR pool",
        "as3": {
            "class": "Tenant",

[2020-05-15 17:33] RavinderReddyF5 commented on #291
@andrescolodrero
We dont see any issues in posting same config on BIGIP,Did u tried posting same using Postman client??

[code]

[2020-05-15 17:36] andrescolodrero commented on #291
@RavinderReddyF5
Yes, i post to BIGIP with that config works, and it is really fast.

Are you testing with F5 15x?

[2020-05-15 17:44] RavinderReddyF5 commented on #291
@andrescolodrero

![image](https://user-images.githubusercontent.com/45624469/82080208-c25f2c00-9701-11ea-9a64-8fd97ad83fd4.png)

[2020-05-15 20:56] andrescolodrero commented on #291
i have this config already:
![image](https://user-images.githubusercontent.com/4639270/82095379-722a9e80-96ee-11ea-8e3e-f9900ef64ddb.png)

[2020-05-19 16:29] benpillet opened #293 "`description` attribute in bigip_ltm_virtual_address in docs, but not in code"
The `description` field in the docs returns `An argument named "description" is not expected here.` when used in terraform 0.12.19.

https://github.com/terraform-providers/terraform-provider-bigip/blame/master/website/docs/r/bigip_ltm_virtual_address.html.markdown#L31

[2020-05-21 13:42] andrescolodrero commented on #291
@RavinderReddyF5  i figured out that the UUID in the template was incorrect.

Now im having this error:
Error: Error creating json  Sample_01: Get https://10.21.65.11/mgmt/shared/appsvcs/task/c720b45b-6438-44f9-ab6e-f25ec9558158: net/http: request canceled (Client.Timeout exceeded while awaiting headers)

  on main.tf line 7, in resource "bigip_as3" "as3-example1":
   7: resource "bigip_as3"  "as3

[2020-05-21 16:06] andrescolodrero commented on #291
here my last error after redeploying a new F5 box:
{"id":"4b778509-6eeb-4c24-94c5-aabaae12662e","results":[{"code":500,"declarationFullId":"urn:uuid:b0474831-8b93-4af1-8fad-319b9b6bbe8c","message":"failed to save BIG-IP config (connection to http://admin:XXXXXX@localhost:8100/mgmt/tm/task/sys/config create task save sys config timed out)"}],"declaration":{}}

[2020-05-21 16:10] RavinderReddyF5 commented on #291
@andrescolodrero are u seeing this same issue with postman client also on new F5 Box? please let us know as3 version.

[2020-05-21 16:18] andrescolodrero commented on #291
yes @RavinderReddyF5 , i tried from postman, powershell and terraform. same errror
{
   "class": "AS3",
   "action": "deploy",
   "declaration": {
       "class": "ADC",
       "schemaVersion": "3.0.0",
       "id": "urn:uuid:b0474831-8b93-4af1-8fad-319b9b6bbe8c",
       "Tenant1": {
           "class": "Tenant",
           "HTTP_Service": {
               "class": "Application",
               "t

[2020-05-21 16:23] RavinderReddyF5 commented on #291
If you see same issue with postman client also means then it will be issue with as3 rpm installed. Can you please try with as3 v3.19.1 ?? if you still see issue you can open issue with : https://github.com/F5Networks/f5-appsvcs-extension/issues

[2020-05-21 18:37] andrescolodrero commented on #291
@RavinderReddyF5  thanks
i upgrde the latest f5 appsvcs and add some memory changes. now it works from powershell, but not for TF

rror: Error creating json Cooltenant1: Tenant Creation fail

Not sure if i can find logs somewhere in f5?

I still have this message:

2020/05/21 18:28:05 [WARN] Provider "registry.terraform.io/-/bigip" produced an invalid plan for bigip_as3.as3-example1, but we are to

[2020-05-22 09:28] andrescolodrero commented on #291
i will close the issue when things seems fixed from using POST commands, updating to late appsvc.

Im still having issues with Terraform, but i will add another issue, so it doesnt confuse with this one

[2020-05-22 09:28] #291 closed

[2020-05-22 09:28] andrescolodrero commented on #291
closing.

[2020-05-22 09:58] andrescolodrero opened #294 "AS3 apply fails on Terraform"
Im testing a simple AS3 declaration.

With POST or Powershell, it is pretty fast and it works (after fixing some issue with appsvc rpm).
I like the way all changhes on AS3 declaration are idempotent.

But im having issues with terraform, same AS3 doesnt work. Apply fails after more than 5 minutes

Here the as3 code and below terraform and restnoded error when executing from "Terraform".

`{
   "cl

[2020-05-23 02:43] bastiortiz commented on #294
Hi @andrescolodrero,

I 'm having same issue where using POSTMAN works fine but it fails using Terraform.

Terraform Provider = `* provider.bigip: version = "~> 1.2"`
F5 AS3 Version = `f5-appsvcs 	3.19.1`

Output for `/var/log/restnoded/restnoded.log`

`Sat, 23 May 2020 02:38:35 GMT - severe: [appsvcs] {"message":"POST http://localhost:8100/mgmt/tm/ltm/data-group/internal/ failed (socket hang up)"

[2020-05-23 05:51] RavinderReddyF5 commented on #294
@andrescolodrero @bastiortiz

Issue identified and fixed in : https://github.com/F5Networks/terraform-provider-bigip Master branch.

Can you please clone latest master branch from :https://github.com/F5Networks/terraform-provider-bigip test your scenario and let me know if you still see any issues?

**Steps to test it locally:**
[code]

[2020-05-23 05:52] RavinderReddyF5 commented on #294
Issue Tracking internally with TER-353,TER-352

[2020-05-23 21:47] bastiortiz commented on #294
Hi @RavinderReddyF5 ,

I followed your instructions:

` mkdir -p $GOPATH/src/github.com/terraform-providers; cd $GOPATH/src/github.com/terraform-providers
 git clone https://github.com/F5Networks/terraform-provider-bigip.git
 cd terraform-provider-bigip
 export GOFLAGS=-mod=vendor
 go build`

However, I'm still having the same issues and in the F5 output `/var/log/restnoded/restnoded.log` I can se

[2020-05-23 22:02] bastiortiz commented on #294
Hi @RavinderReddyF5,

I had replaced the provider location in `.terraform\plugins\windows_amd64` with the new one `terraform-provider-bigip.exe` and now it is working as expected:

`Apply complete! Resources: 1 added, 0 changed, 0 destroyed.`

I will continue testing. Thanks for your help!

[2020-05-24 17:31] andrescolodrero commented on #294
@RavinderReddyF5 @bastiortiz
after build on my machine with the provided instrucctions, it doesnt work for me. But i have less errors than before.
could someone provide the new provider? maybe my laptop is not building correctly.

Sun, 24 May 2020 17:24:44 GMT - warning: [appsvcs] {"message":"Unable to send telemetry data: Unable to register device: getaddrinfo ENOTFOUND product.apis.f5.com produc

[2020-05-25 07:49] RavinderReddyF5 commented on #294
@andrescolodrero Can you please remove `.terraform` folder in your directory and build image with steps mentioned.

[2020-05-25 11:38] andrescolodrero commented on #294
@RavinderReddyF5  inside my working folder of the project, i removed the exe from .terraform\plugins\windows_amd64 and add the new exe after i builded in my machine. im forgetting something?

[2020-05-25 13:28] RavinderReddyF5 commented on #294
@andrescolodrero that should be fine. are u still seeing issue?

[2020-05-28 16:00] RavinderReddyF5 commented on #294
@andrescolodrero Do you still this issues? if not can we close this issue?

[2020-05-28 18:17] andrescolodrero commented on #294
@RavinderReddyF5  im having same error again, i want to be sure i setup properly the VMs.
i will try again and answer tomorrow

[2020-05-29 09:57] papineni87 commented on #279
@soumik612

It looks like normal get call on bigip monitor itself gives encrypted password, so to avoid any state diff to password variable we can add password to ignore_changes block.

resource "bigip_ltm_monitor" "test_postgres" {
  name       = "/Common/test_postgres"
  parent     = "/Common/postgresql"
  username   = "sql-tester"
  password   = "abcd123"
  database   = "postgre"

 lifecycle {

[2020-05-29 14:42] johnnywilkes commented on #289
bigip_command will also require an account that allows tmsh access, right?

[2020-05-31 09:01] papineni87 commented on #289
This resource will do icontrol rest call to execute tmsh command on bigip. By default bigip will have root/admin accounts that allows tmsh access.

[2020-05-31 12:09] johnnywilkes commented on #289
but can we still run bigip_command using an account that is manager access with terminal access disabled?

[2020-05-31 13:02] papineni87 commented on #289
Yes, i guess bcoz it uses rest call

[2020-06-01 17:23] theforhad opened #295 "In-place ssl updates fail due to ForceNew"
I have successfully deployed `ssl_key`, `ssl_cert`, and `ssl_profile` using the below.

[code]

**Problem:** Now that the certificate isexpiring, one would assume updating the `content ` attribute would be all that is needed to perform an in-place update of the certificate, except it forces a recreate of the object, which would fail due to the cert and key already being attached to the profile.

[

[2020-06-01 17:29] RavinderReddyF5 commented on #295
@theforhad Thanks for Identifying Issue and Solution proposal. Sure will remove `ForceNew:    true` for fixing this issue.

[2020-06-04 15:23] focrensh commented on #290
Reviewing possibilities via TER-343

[2020-06-04 16:55] focrensh commented on #294
If the new VM build you have still had an issue, please open a new issue around the specific errors for that. This issue had an issue fixed so i want to make sure to limit scope of it.

[2020-06-04 16:55] #294 closed

[2020-06-08 14:21] soumik612 opened #298 "F5 LTM default custom profile values should calculated rather than hardcoded in code."
I have come across issues, wherein I have to profile values in the TF resource config code.
I suggestion is to get the provider to fetch the custom values from LTM. This will make it easier to maintain config sanity in case the default values change after a software upgrade.

**OBSERVED ISSUE**:

While testing the resource "bigip_ltm_profile_fastl4", my basic resource config looks like this ,
![im

[2020-06-08 14:46] soumik612 opened #299 "Changes to a custom PARENT profile values and not pushed on to CHILD profile"
We have a use case where in we build custom PARENT profiles for different applications/setup.
These parent profiles are then inherited by CHILD profiles, which are applied to VIPs.

**OBSERVED ISSUE**:
Whenever a custom resource attribute is changed from default value using TF provider, this causes all the check-boxes in the LTM GUI to be set. Ideally only the custom value that is changed should h

[2020-06-10 05:43] papineni87 commented on #232
Please verify with latest relese, If anyone see the issue again, please feel free to open new issue

[2020-06-10 05:43] #232 closed

[2020-06-14 16:27] papineni87 commented on #279
Fixed in v1.2.1, if issue seems to persist, please reopen the bug

[2020-06-14 16:27] #279 closed

[2020-06-16 07:43] init4 commented on #289
No need for bigip_command. There is an API call to save the running config. The provider should be calling it after each API run. Eg:

curl -H 'Content-Type: application/json' -sk -u admin:password https://bigip/mgmt/tm/sys/config/ -d "{ \"command\": \"save\" }"
{"kind":"tm:sys:config:savestate","command":"save”}

[2020-06-16 07:46] init4 opened #301 "When will this provider support TMOS 15.0/15.1"
As per title, looks like it doesn't work properly on those versions at the moment.

[2020-06-16 07:56] papineni87 commented on #301
It works for me, Any specific resource failing for you in bigip 15 ?

[2020-06-16 11:12] init4 commented on #301
My comment is based on what is stated in README.md - but maybe I am having a different problem:

----
bash# cat app1.tf
provider "bigip" {
  #address  = "${aws_instance.bigip1.public_ip}"
  address  = "3.21.46.240"
  username = "admin"
  password = "xxxxx"
}

resource "bigip_ltm_monitor" "mon_app1-http" {
  name     = "/Common/mon_app1-http"
  parent   = "/Common/http"
  send     = "GET /\r\n"
  t

[2020-06-18 16:44] jakauppila opened #302 "Utilizing `tenant_filter` shows removing all other tenants during plan"
In testing v1.2.1 from v1.1.1, I have switched `config_name` to `tenant_filter` and now in the plan it is showing that all other tenants will be removed.

The value I specify in `as3_json` contains _only_ the definition for the tenant I am configuring; so I would expect that the `tenant_filter` should only retrieve the AS3 document for that particular tenant at https://github.com/terraform-provide

[2020-06-19 00:34] #18 closed

[2020-06-19 06:50] papineni87 commented on #302
To get clarity on the scenario

I have example1.json which has tenant 2 and tenant 3 and there is no tenant filter. So both tenants 2 and 3 are posted in bigip.

Now using the same as3 resource and same json ( example1.json ), you have modified json having only tenant 3 along with tenant filter specifying as tenant 3. Is this is the scenario you are trying please clarify ? and if this is the scena

[2020-06-19 06:58] RavinderReddyF5 commented on #302
@jakauppila to give clarity one current behaviour even through it shows plan difference in your scenario, update call be placed for only tenant specified using `tenant_filter`

[2020-06-19 12:33] jakauppila commented on #302
@papineni87 Correct; so Tenant 2 already exists on the appliance, but since my `as3_json` declaration only specifies Tenant 3, since the `Read` is pulling back the entire AS3 declaration, the Terraform plan shows Tenant 2 as being removed.

@RavinderReddyF5 That's what I figured; but our workflow runs a `Plan` and we decide whether or not to actually execute `Apply` depending on what the plan retu

[2020-06-22 16:48] focrensh commented on #302
Thank for you the clarification. Tracking with TER-375

The concerns around polling tenants that are not part of the current resource makes perfect sense. For the comment above around Tenant2 and Tenant3. If a resource previously owned state for both Tenants, then it would need to poll both to know what to remove from that given resource.

[2020-06-22 17:27] papineni87 commented on #301
With terraform-provider version :1.2.1 , we have to create nodes first and then reference it in pool attachment. ( https://www.terraform.io/docs/providers/bigip/r/bigip_ltm_pool_attachment.html )

I tried with below config and it works for me.

bigip version : 15.0 ,
terraform-provider version:1.2.1

terraform-provider-bigip papineni$ cat test.tf
provider "bigip" {
  address = "x.x.x.x"
  username

[2020-06-23 02:23] sebbycorp commented on #255
**I am getting an error when using AS3 to create certs ..**
**Terraform Version**

[code]

[2020-06-23 03:47] papineni87 commented on #255
Can you share the logs along with terraform config ?

[2020-06-23 23:34] init4 commented on #301
Agree, the problem was I was trying to attach a node without defining it first. Requiring a node object confused me as its not required when using the iControl API. I can define a pool object and directly define the pool members by IP:port.

[2020-06-23 23:34] #301 closed

[2020-06-24 13:52] papineni87 commented on #299
It's observed in other profiles too( fasthttp,http2), but in some profiles ( like tcp, ssl ) custom attributes are checked only in parent , not in child with the proper inheritance.

[2020-06-26 22:47] JerryAjaegbo opened #303 "Can terraform delete or destroy a virtual server or pool created from the BIGIP GUI?"
I am trying figure out how to modify load balancer objects that were not created using terraform. Is  this possible? Say for instance, terraform_delete_testVS was created in GUI, what would the "bigip_ltm_virtual_server" resource code look like to successfully delete the virtual server using terraform?

Any help  would be greatly appreciated.

Thanks
Jerry

[2020-06-29 14:21] jakauppila opened #304 "`bigip_as3` should detect `Configuration operation in progress on device localhost, please try again in 2 minutes` and retry automatically"
Our deployment pipeline ends up running multiple Terraform executions in parallel which has seen a few issues when running multiple executions against a single BigIP appliance with the following error:

[code]

It would be great if `resourceBigipAs3Update` could detect that error and retry (both timeout and retry count should be configurable ideally)

Here is Hashicorp's documentation on implement

[2020-06-30 02:34] focrensh commented on #304
There should be retry logic built in for this very use case in the current release. I will verify that it is live and update here.

[2020-06-30 02:37] focrensh commented on #303
This is not a supported workflow. Terraform for BIG-IP provider will only manage state of objects it created.

[2020-06-30 02:37] #303 closed

[2020-06-30 13:43] papineni87 commented on #304
@jakauppila

As @focrensh  mentioned  retry logic is there in current release and

we tried 2 scenerios around the parallel execution of bigip_as3.

1. Having multiple as3 resources in single .tf file with same bigip but different as3 jsons.
2. Running as3 resource simultaneously from different terminals with same bigip but different as3 jsons

In both the scenerios, it is the same bigip and execu

[2020-06-30 14:29] jakauppila commented on #304
@papineni87 @focrensh Thanks, when I was looking in the code I was expecting to see that retry logic in the Terraform provider, but now I see that's being [handled in the client library itself](https://github.com/terraform-providers/terraform-provider-bigip/blob/master/vendor/github.com/f5devcentral/go-bigip/as3bigip.go#L228).

If I'm reading the logic correctly, it will continually check the stat

[2020-06-30 14:35] papineni87 commented on #304
PostAs3Bigip() in below file

https://github.com/F5Networks/terraform-provider-bigip/blob/master/vendor/github.com/f5devcentral/go-bigip/as3bigip.go

[2020-06-30 14:39] #304 closed

[2020-07-01 13:06] chen23 opened #305 "error: produced an unexpected new value for was present, but now absent."
getting the following error when running bigip_as3
[code]
here's is the terraform code
[code]
and the AS3 declaration
[code]
If i manually send the declaration it works w/out a problem
[code]

[2020-07-01 14:23] RavinderReddyF5 commented on #305
@chen23 Is it possible to share debug logs by setting environment variable `TF_LOG=DEBUG` ?

[2020-07-01 14:33] chen23 commented on #305
here's the output
[code]

[2020-07-01 15:56] RavinderReddyF5 commented on #305
@chen23 it looks like because of empty tenant_list we failed to retrieve as3 json from bigip in as3 resource read call. Created TER-400 to track issue.

[2020-07-01 16:24] chen23 commented on #305
If I changed the input to add the top-level "class":"AS3" it works as expected.  This could be just a documentation issue to specify that requirement and/or handle the error more gracefully.

new input that works:
[code]

[2020-07-01 16:35] RavinderReddyF5 commented on #305
@chen23 Thanks for your validation with addition of AS3 class, we will add validation on input json to provide it from top level AS3 class.

[2020-07-07 12:35] marcosdiez opened #306 "I need resource_bigip_sys_iapplx"
Basically, we use BigIP with AWS and terraform.

So every time we create an autoscaling group, we need terraform to create an f5-iAppLX-aws-autoscale applx automatically.

Doing more reading, I actually need this in terraform: https://clouddocs.f5.com/products/iapp/iapp-lx/tmos-14_0/icontrollx_rest_api_appendix/block_api.html#mgmt-shared-iapp-blocks

This is a copy of https://github.com/F5Networks

[2020-07-07 14:28] focrensh commented on #305
Tracking with TER-400

[2020-07-07 14:34] #306 closed

[2020-07-07 14:36] focrensh commented on #299
It is important to keep in mind that Terraform itself is declarative, so the concept of having a parent objective drive inheritance can cause some anti-patterns.

[2020-07-07 14:42] focrensh commented on #298
Tracking via TER-401

[2020-07-07 14:44] focrensh commented on #295
Tracking with TER-368

[2020-07-07 14:59] focrensh commented on #293
Which version of the provider are you using? I just tested with most recent version and am not receiving that:

+ provider.bigip v1.2.1

[2020-07-07 15:12] focrensh commented on #190
Closing based on the response above. If a feature is available through AS3, it should be performed using that resource.

[2020-07-07 15:12] #190 closed

[2020-07-09 14:14] focrensh commented on #289
Closing as there are supported mechanisms using the command resource.

[2020-07-09 14:14] #289 closed

[2020-07-09 14:18] focrensh commented on #220
Closing stale issue, please open a new issue if it is still possible to reproduce on newest provider version.

[2020-07-09 14:18] #220 closed

[2020-07-09 14:19] focrensh commented on #4
Closing stale issue, please open a new issue if it is still possible to reproduce on newest provider version.

[2020-07-09 14:19] #4 closed

[2020-07-09 14:26] focrensh commented on #131
Tracking with TER-58

[2020-07-09 14:36] focrensh commented on #298
see https://github.com/terraform-providers/terraform-provider-bigip/issues/43#issuecomment-484498699 around using computed for TMOS default values.

[2020-07-09 14:37] focrensh commented on #43
Closing into https://github.com/terraform-providers/terraform-provider-bigip/issues/298

[2020-07-09 14:37] #43 closed

[2020-07-09 14:39] focrensh commented on #79
Closing with Merge above

[2020-07-09 14:39] #79 closed

[2020-07-09 21:45] stobias123 commented on #190
@focrensh  - so to close the loop here, resources will be supported via AS3 config, (JSON) but not natively through terraform?

[2020-07-09 22:04] focrensh commented on #190
This is the direction for F5 integrations across all ecosystems and platforms. It provides a familiar user experience when switching between tooling/automation. The idea is that while you may need to learn AS3 objects/schema, you will not need to then learn or have BIG-IP DSK around object mapping (knowing each resource). As an example, you will not need to manage parent/child relationships, objec

[2020-07-10 05:23] stobias123 commented on #190
Sure, happy to discuss on a call, I have many clients on F5 and this direction seems like a step in the right direction but it's rather unfortunate. Using just another JSON doc lacks type safety, dependency mapping, text editor support, and just about everything else that was good in the ecosystem.

 If my you guys are open to community feedback I'm happy to provide some :)

[2020-07-11 16:49] paprockiw opened #307 "Terraform Plan Failing with "connection is shut down" Errors"
Hey there,
 I've been working on using the big_ip provider to apply changes to an F5 system, and I've been running into issues on F5 versions 11.6 and 12.1. I'm using Terraform 0.11.3, and I've tried making the changes the big_ip provider, starting with 0.12.4 and even tried the latest version, 1.2.1 to see if I got different results, and I did not.

The problem is that when I run terraform plan,

[2020-07-14 15:39] papineni87 commented on #307
I didn't get much info from the logs provided, but to single out the issue can you try below things

1. Update terraform-bigip-provider  to 1.2.1 and terraform version to 0.12
2. Create just single node ( bigip_ltm_node )and check whether any errors showing up or not. We can then increment resources and see where the issues comes out.

We didn't see any basic issues with latest release (1.2.1 ) ag

[2020-07-15 19:05] jakauppila commented on #302
@focrensh Just curious if there's an anticipated completion date for this issue?

[2020-07-15 19:10] focrensh commented on #302
This issue is going into a sprint starting next week. It would then be in the release following that (around 6 weeks). The scope is to investigate/test filtering tenants retrieved via as3. This is to avoid pulling all tenants down and then comparing to TF tracked tenants.

[2020-07-15 19:16] jakauppila commented on #302
Sounds good, thanks.

I'd be happy to test things out once things are in a workable state.

[2020-07-18 14:42] Ankmat opened #308 "bigip_ltm_virtual_address advertize_route not getting set for the first time"
I am trying to create a virtual server and enable the route advertisement for the vip. Though Terraform plan says it will be updating the flag after it creates the virtual server, it doesnot happen. Subsequent running of plan shows the discrepancy and another pass is required to set it.
Following are the references:

`terraform version Terraform v0.12.17`

**Terraform code:**
[code]

**'terraform

[2020-07-21 15:20] paprockiw commented on #307
So, I was able to tease out more information from the logs. There's a virtual server configuration that's throwing an error when it attempts to read from the iRESTController API. I don't have a copy of the logs anymore, unfortunately, but it was throwing an error on this method: bigip.resourceBigipLtmVirtualServerRead

The issue was similar to the one described here: https://github.com/DealerDotCo